<ng-container [ngSwitch]="field.controlType">
  <div *ngSwitchCase="'NumericTextBox'" class="row ">
      <label *ngIf="field.labelName && field.labelName != '' "
          class="col-form-label col-xs-12 col-sm-{{getQuestionSpan(field)}}">{{field.labelName}}
        <i *ngIf="field.additionalInfo" [id]="field.fieldName+'_tooltip'"  class="fa fa-question-circle help" data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top" aria-hidden="true"></i>
      </label>
      <div class="col-xs-12 col-sm-{{getAnswerSpan(field)}} ">
          <input [id]="field.fieldName" class="form-control numbertypemofidy {{getFieldClass(field)}}"
              [placeholder]="field.placeholder" [maxLength]="field.maxLength" (keypress)="numberOnly($event)"
              (touchend)="numberOnly($event)"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
      </div>
  </div>
  <div *ngSwitchCase="'DocumentCollection'" class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 doc-collection">
          <div class="collection-document upload-document ">
              <div class="box-part-one addfile ">
                  <span>
                      <i class="fa fa-plus-circle" aria-hidden="true" style="font-size:54px;color:#5d9bfb"></i>
                      <p>click here to upload <br>your additional documents</p>
                  </span>
              </div>
          </div>
      </div>
      <div>
        <label *ngIf="field.labelName && field.labelName != '' "
          class="col-form-label col-xs-12 col-sm-{{getQuestionSpan(field)}}">{{field.labelName}}</label>
      </div>
  </div>
  <div *ngSwitchCase="'ImageLabel'" class="row">
      <label *ngIf="field.labelName && field.labelName != '' "
          class="col-form-label col-xs-12 col-sm-{{getQuestionSpan(field)}}">{{field.labelName}}</label>
      <div class="col-xs-12 col-sm-{{getAnswerSpan(field)}} ">
          <img [id]="field.fieldName" [src]="field.imagePath" class="img-fluid {{getFieldClass(field)}}" />
      </div>
  </div>
  <div *ngSwitchCase="'DatePicker'" class="row date-width ">
    <label *ngIf="field.labelName && field.labelName != '' "  class="col-xs-12 col-sm-{{getQuestionSpan(field)}} col-form-label ">{{field.labelName}}
      <i *ngIf="field.additionalInfo" [id]="field.fieldName+'_tooltip'"  class="fa fa-question-circle help" data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top" aria-hidden="true"></i>
    </label>
    <div class="col-xs-12 col-sm-{{getAnswerSpan(field)}}">
      <div class="input-group mb-3 position-relative">
          <input type="text" [id]="field.fieldName" class="form-control {{getFieldClass(field)}}"
              [placeholder]="field.placeholder" value="{{datePickerValue? (datePickerValue | date:'dd/MM/yyyy' ) : ''}}" (blur)="dateOnly($event)"  />
          <input type="date" [id]="field.fieldName+'Dt'" [(ngModel)]="datePickerValue" [name]="field.fieldName+'Dt'" class="form-control w-px-4"
              [placeholder]="field.placeholder" />
      </div>
    </div>
  </div>
  <div *ngSwitchCase="field.controlType=='Signature'?'Signature':'ParentSignature'" class="row">
    <div class="d-flex flex-wrap row">
      <p class="col-xs-12 col-sm-{{getQuestionSpan(field)}}"><span class="fw-bolder"> DECLARATION : </span>
        {{field.labelName}}
      </p>
      <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 align-self-center">
        <p class="d-flex items-center justify-between" style="margin-bottom: 10px !important; width: 100%;">
          <span>Signature</span>
          <i *ngIf="field.additionalInfo" [id]="field.fieldName+'_tooltip'"  class="fa fa-question-circle help" data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top" aria-hidden="true"></i>
          <button class="btn bg-blue-100 text-white pull-right ms-auto">Clear</button>
        </p>
          <div class="signBoard">
              <span><a>
                      <span class="sign-placeholder mobile-width">Click to Sign</span></a></span>
              <img class="img-responsive" />
          </div>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'RxSelect'" class="row ">
    <label *ngIf="field.labelName && field.labelName != '' "
        class="col-form-label col-xs-12 col-sm-{{getQuestionSpan(field)}}">{{field.labelName}}
      <i *ngIf="field.additionalInfo" [id]="field.fieldName+'_tooltip'"  class="fa fa-question-circle help" data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top" aria-hidden="true"></i>
    </label>
    <div class="col-xs-12 col-sm-{{getAnswerSpan(field)}} ">
        <input type="text" [id]="field.fieldName" class="form-control {{getFieldClass(field)}}"
            [placeholder]="field.placeholder" />
    </div>
  </div>
  <div *ngSwitchCase="'RxMask'" class="row">
      <label *ngIf="field.labelName && field.labelName != '' "
          class="col-form-label col-xs-12 col-sm-{{getQuestionSpan(field)}}">{{field.labelName}}
        <i *ngIf="field.additionalInfo" [id]="field.fieldName+'_tooltip'"  class="fa fa-question-circle help" data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top" aria-hidden="true"></i>
      </label>
      <div class="col-xs-12 col-sm-{{getAnswerSpan(field)}} ">
          <input type="text" [id]="field.fieldName" class="form-control {{getFieldClass(field)}}"
              [placeholder]="field.placeholder" />
      </div>
  </div>
  <div *ngSwitchCase="'SpecialLable'" class="row">
    <div *ngIf="field.labelName && field.labelName!=''"  class="{{field.labelName && field.labelName !=''?'list-group-item':''}} {{field.fieldName == 'WithholdingSpecialLable' ? 'rm-mb' : ''}}"  >
        <p class="list-group-item-text" *ngFor="let item of field.labelName.split('</br>')">{{item}}
          <ng-container *ngIf="item == ''">
            <br>
          </ng-container>
        </p>
    </div>
  </div>
  <div *ngSwitchCase="'Lable'" class="row mb-2">
      <label class="col-xs-12 col-sm-12 col-form-label {{getFieldClass(field)}}">{{field.labelName}}</label>
  </div>
  <div *ngSwitchCase="'DropDown'" class="row align-items-center">
      <label *ngIf="field.labelName && field.labelName != '' "
          class="col-form-label col-xs-12 col-sm-{{getQuestionSpan(field)}} top-0">{{field.labelName}}
        <i *ngIf="field.additionalInfo" [id]="field.fieldName+'_tooltip'"  class="fa fa-question-circle help" data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top" aria-hidden="true"></i>
      </label>
      <div class="col-xs-12 col-sm-{{getAnswerSpan(field)}} ">
          <select [id]="field.fieldName" class="form-select  {{getFieldClass(field)}}" [(ngModel)]="field.value"  (change)="valueChangeForDependent(field)">
              <option value=null *ngIf="!field.defaultValue">---Select---</option>
              <option *ngFor="let drpValue of field.lookUps" [value]="drpValue.id"> {{drpValue.value}} </option>
          </select>
      </div>
  </div>
  <ng-container *ngSwitchCase="'LableCheckBox'">
      <ng-container [ngSwitch]="conditionalFlag">
        <div  *ngSwitchCase="'work-history'" class="col-xs-12 col-sm-12 align-items-start form-check">
          <input class="form-check-input" type="checkbox" [id]="field.fieldName">
          <label class="form-check-label" >
              {{ field.labelName }}
          </label>
        </div>
        <div  *ngSwitchDefault  class="row py-2">
          <div class="col-sm-{{getAnswerSpan(field)}} col-xs-12"></div>
          <div class="col-sm-{{getAnswerSpan(field)}} col-xs-12">
            <div  class="d-flex align-items-center">
              <div class="col-12 col-md-auto">
                <label >
                  <a class="me-3 px-4 py-3  text-decoration-none fs-8 border  {{ field.value == 45 ? 'bg-blue-100 text-white':'bg-linear-gray-100 text-black'}}" [id]="field.fieldName" type="button"
                  (click)="clickIAgreeButton(field)">
                  <!-- <ng-container *ngIf="!field.isSignatureRequired || field.additionalInfo != null; else IAgreeSection"> -->
                    <span>
                      I Agree
                    </span>
                  <!-- </ng-container> -->
                  <!-- <ng-template #IAgreeSection>
                    <span style="margin: 1.6em">

                    </span>
                  </ng-template> -->
                </a>
                </label>
              </div>
              <div class="form-label">
                <label *ngIf="field.labelName && field.labelName != '' "
                  class="d-inline-block" >{{field.labelName}}</label>
                <a *ngIf="!field.isSignatureRequired || field.additionalInfo != null" class="fw-semibold text-decoration-none text-blue-200" target="_blank" [href]="field.additionalInfo">{{field.placeholder}}</a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
  </ng-container>
  <div *ngSwitchCase="'DecimalTextBox'" class="row ">
    <label *ngIf="field.labelName && field.labelName != '' "
        class="col-form-label col-xs-12 col-sm-{{getQuestionSpan(field)}}">{{field.labelName}}
      <i *ngIf="field.additionalInfo" [id]="field.fieldName+'_tooltip'"  class="fa fa-question-circle help" data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top" aria-hidden="true"></i>
    </label>
    <div class="col-xs-12 col-sm-{{getAnswerSpan(field)}} ">
        <input class="form-control numbertypemofidy {{getFieldClass(field)}}" [placeholder]="field.placeholder"
            (focusout)="decimalPoint($event)" [maxLength]="field.maxLength" (keypress)="decimalNumberOnly($event)"
            (touchend)="decimalNumberOnly($event)"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
    </div>
  </div>
  <div *ngSwitchCase="'MultipleSelectCheckBox'" class="row ">
    <ng-container *ngIf="!isVideoOrImageField; else videoImageSection">
      <label *ngIf="field.labelName && field.labelName != '' "
        class="col-form-label col-xs-12 col-sm-{{getQuestionSpan(field)}}">{{field.labelName}}
        <i *ngIf="field.additionalInfo" [id]="field.fieldName+'_tooltip'" class="fa fa-question-circle help"
          data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top"
          aria-hidden="true"></i>
      </label>
      <div class="pe-0 col-xs-12 col-sm-{{getAnswerSpan(field)}} {{getFieldClass(field)}}">
        <div class="form-group first text-right radio_buttons">
          <div class="lbl">
            <label *ngFor="let lkp of field.lookUps" (click)="field.value = setFieldValue(lkp);"
              class="radio fullwidth-label  {{getFieldClass(field)}}"
              [class.radio-active]="field.value && field.value.toString().split(',').includes(lkp.id.toString())">
              {{lkp.value}}
            </label>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #videoImageSection>
      <div *ngIf="field.imagePath"
        class="col-xs-12 col-sm-{{getQuestionSpan(field)}} col-form-label {{getFieldClass(field)}}">
        <img [src]="field.imagePath" class="img-responsive mb-5 d-inline-block" />
        <i *ngIf="field.additionalInfo" [id]="field.fieldName+'img_tooltip'" class="fa fa-question-circle help"
          data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top"
          aria-hidden="true"></i>
      </div>

      <div class="pe-0 col-xs-12 col-sm-{{ !field.videoId ? getAnswerSpan(field) : '12' }}  fullwidth-ans-radio left">
        <label *ngIf="field.labelName && field.labelName != ''" class="que label-img-radio mb-3">
          {{field.videoIndCtr}}. {{field.labelName}}
          <i *ngIf="!field.videoId && field.additionalInfo" [id]="field.fieldName+'_tooltip'"
            class="fa fa-question-circle help" data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo"
            data-bs-placement="top" aria-hidden="true"></i>
        </label>
        <div class="form-group first radio_buttons">
          <div class="lbl">
            <label *ngFor="let lkp of field.lookUps" (click)="field.value = setFieldValue(lkp);"
              class="radio fullwidth-label fullwidth-ans-radio left"
              [class.radio-active]="field.value && field.value.toString().split(',').includes(lkp.id.toString())">
              {{lkp.value}}
            </label>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div *ngSwitchCase="'RxTag'" class="row">
    <label *ngIf="field.labelName && field.labelName != '' "
        class="col-form-label col-xs-12 col-sm-{{getQuestionSpan(field)}}">{{field.labelName}}
      <i *ngIf="field.additionalInfo" [id]="field.fieldName+'_tooltip'"  class="fa fa-question-circle help" data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top" aria-hidden="true"></i>
    </label>
    <div class="col-xs-12 col-sm-{{getAnswerSpan(field)}} ">
        <select [id]="field.fieldName" class="form-control  {{getFieldClass(field)}}">
            <option value=null *ngIf="!field.defaultValue">---Select---</option>
            <option *ngFor="let drpValue of field.lookUps" value="{{drpValue.id}}"> {{drpValue.value}} </option>
        </select>
    </div>
  </div>
  <div *ngSwitchCase="'Email'" class="row align-items-center">
    <label *ngIf="field.labelName && field.labelName != '' "
        class="col-form-label col-xs-12 col-sm-{{getQuestionSpan(field)}} top-0">{{field.labelName}}
      <i *ngIf="field.additionalInfo" [id]="field.fieldName+'_tooltip'"  class="fa fa-question-circle help" data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top" aria-hidden="true"></i>
    </label>
    <div class="col-xs-12 col-sm-{{getAnswerSpan(field)}} ">
        <input type="email" [id]="field.fieldName" class="form-control {{getFieldClass(field)}}" [placeholder]="field.placeholder" />
    </div>
  </div>
  <div *ngSwitchCase="'ContactNumber'" class="row align-items-center">
    <label *ngIf="field.labelName && field.labelName != '' "
        class="col-form-label col-xs-12 col-sm-{{getQuestionSpan(field)}} top-0">{{field.labelName}}
      <i *ngIf="field.additionalInfo" [id]="field.fieldName+'_tooltip'"  class="fa fa-question-circle help" data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top" aria-hidden="true"></i>
    </label>
    <div class="col-xs-12 col-sm-{{getAnswerSpan(field)}} ">
        <input type="email" [id]="field.fieldName" class="form-control {{getFieldClass(field)}}" [placeholder]="field.placeholder" />
    </div>
  </div>
  <div *ngSwitchCase="'TextBox'" class="row align-items-center ">
    <label *ngIf="field.labelName && field.labelName != '' "
        class="col-form-label col-xs-12 col-sm-{{getQuestionSpan(field)}} top-0">{{field.labelName}}
        <i *ngIf="field.additionalInfo" [id]="field.fieldName+'_tooltip'"  class="fa fa-question-circle help" data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top" aria-hidden="true"></i>
    </label>
    <div class="col-xs-12 col-sm-{{getAnswerSpan(field)}} ">
        <input [id]="field.fieldName" class="form-control  {{getFieldClass(field)}}"
            [placeholder]="field.placeholder" [maxLength]="field.maxLength"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
    </div>
  </div>
  <div *ngSwitchCase="'SingleFileUpload'" class="row ">
    <div class="text-gray-200 ps-0 upload-document">
      <b *ngIf="field.labelName &&  field.labelName !=''">{{field.labelName}}
        <i *ngIf="field.additionalInfo" [id]="field.fieldName+'_tooltip'"  class="fa fa-question-circle help" data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top" aria-hidden="true"></i>
      </b>
      <div class="box-part-one " [ngStyle]="field.fieldName != 'visaimage' && field.maxColumn && field.maxColumn == 2 ? {'margin-left':'13%', 'max-width' : '70%'} : {} ">
          <input type="file" [id]="field.fieldName" >
          <img *ngIf="(field.fileExt=='pdf' ||field.fileExt=='.pdf') && (field.fileUrl != undefined && field.fileUrl!='' && field.fileUrl != null)"
              alt="upload document" class="img-fluid" src="../../assets/img/pdf-img.png"
              style="width:50%; left:145px;" />
          <img *ngIf="(field.fileExt=='docx'|| field.fileExt=='.docx'||field.fileExt=='doc'|| field.fileExt=='.doc') && (field.fileUrl != undefined && field.fileUrl!='' && field.fileUrl != null)"
              alt="upload document" class="img-fluid" src="../../assets/img/word-img.png"
              style="width:50%; left:145px;" />
          <img *ngIf="(field.fileExt=='xlsx'|| field.fileExt=='.xlsx'||field.fileExt=='xls'|| field.fileExt=='.xls' ||field.fileExt=='csv'|| field.fileExt=='.csv') && (field.fileUrl != undefined && field.fileUrl!='' && field.fileUrl != null)"
              alt="upload document" class="img-fluid" src="../../assets/img/excel-img.jpg"
              style="width:50%; left:145px;" />
          <p>
            Drag & drop
            <br> file here, or click
            <br> here to upload
          </p>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'MultilineTextbox'" class="row">
    <label *ngIf="field.labelName && field.labelName != '' "
        class="col-form-label col-xs-12 col-sm-{{getQuestionSpan(field)}}">{{field.labelName}}
      <i *ngIf="field.additionalInfo" [id]="field.fieldName+'_tooltip'"  class="fa fa-question-circle help" data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top" aria-hidden="true"></i>
    </label>
    <div class="col-xs-12 col-sm-{{getAnswerSpan(field)}} {{getConditionalCSSFlag(field)}}">
        <textarea [id]="field.fieldName" [attr.rows]="field.fieldName === 'visasummary' ? 11 : 4"
            class="form-control  {{getFieldClass(field)}}" [placeholder]="field.placeholder"
            [maxLength]="field.maxLength" style="overflow-x: hidden;"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"></textarea>
    </div>
  </div>
  <div *ngSwitchCase="'Image'" class="row">
    <div class="col-xs-12 col-sm-{{getQuestionSpan(field)}} col-form-label {{getFieldClass(field)}} px-2">
      <img [id]="field.fieldName" [src]="field.imagePath" class="img-responsive mb-5 d-inline-block"/>
      <i *ngIf="field.additionalInfo" [id]="field.fieldName+'_tooltip'"  class="fa fa-question-circle help" data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top" aria-hidden="true"></i>
    </div>
  </div>
  <div *ngSwitchCase="'LinkLable'" class="row">
      <label *ngIf="field.labelName && field.labelName != '' "
          class="col-form-label ms-3 {{getFieldClass(field)}} ">
          {{field.labelName}}
          <a class="fw-semibold text-decoration-none text-blue-200" [href]="field.additionalInfo"
              *ngIf="field.placeholder && field.additionalInfo">
              {{field.placeholder}}
          </a>
      </label>
  </div>
  <div *ngSwitchCase="'SwitchCheckBox'" class="row  ">
      <label *ngIf="field.labelName && field.labelName != '' "
          class="col-form-label col-xs-12 col-sm-{{getQuestionSpan(field)}}">{{field.labelName}}</label>
      <div class="col-xs-12 col-sm-{{getAnswerSpan(field)}}">
          <div class="dynamic-switch-align text-right {{getFieldClass(field)}}" [id]="field.fieldName">
              <label class="px-4 py-2 lh-lg border fs-8 {{ field.value == 'true' ? 'bg-blue-100 text-white':'bg-linear-gray-100 text-black'}}" (click)="field.value = (field.value == null ) ? 'true' : null; valueChangeForDependent(field);" >Yes</label>
          </div>
      </div>
  </div>
  <div *ngSwitchCase="'RadioButton'" class="row ">
    <ng-container *ngIf="!isVideoOrImageField; else videoImageSection">
      <label *ngIf="field.labelName && field.labelName != '' "
        class="col-form-label col-xs-12 top-0 col-sm-{{getQuestionSpan(field) }}">{{field.labelName}}
        <i *ngIf="field.additionalInfo" [id]="field.fieldName+'_tooltip'" class="fa fa-question-circle help"
          data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top"
          aria-hidden="true"></i>
      </label>
      <div class="col-xs-12 col-sm-{{getAnswerSpan(field) }}">
        <div class="text-right {{getFieldClass(field)}}" [id]="field.fieldName">
          <label *ngFor="let lkp of field.lookUps "
            class="px-4 text-center py-2 lh-lg fs-8 {{lkp.id==field.value?'bg-blue-100 text-white border-0':'bg-linear-gray-100 text-black border'}} "
            (click)="field.value = lkp.id"
            [class.w-100]="field.lookUps?.length > 0">{{lkp.value}}</label>
            <!-- Below is the previous code -->
            <!-- [class.w-100]="field.rowClass && field.rowClass.includes('fullwidth-radio')">{{lkp.value}}</label> -->
        </div>
      </div>
    </ng-container>
    <ng-template #videoImageSection>
      <div *ngIf="field.imagePath"
           class="col-xs-12 col-sm-{{getQuestionSpan(field)}} col-form-label {{getFieldClass(field)}}">
        <img [src]="field.imagePath" class="img-responsive mb-5 d-inline-block induction-image" />
        <i *ngIf="field.additionalInfo" [id]="field.fieldName+'img_tooltip'" class="fa fa-question-circle help"
           data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top"
           aria-hidden="true"></i>
      </div>

      <div class="col-xs-12 col-sm-{{ !field.videoId ? getAnswerSpan(field) : '12' }}  fullwidth-ans-radio left">
        <label *ngIf="field.labelName && field.labelName != ''" class="que label-img-radio mb-3">
          {{field.videoIndCtr}}. {{field.labelName}}
          <i *ngIf="!field.videoId && field.additionalInfo" [id]="field.fieldName+'_tooltip'"
            class="fa fa-question-circle help" data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo"
            data-bs-placement="top" aria-hidden="true"></i>
        </label>
        <div class="fullwidth-ans-radio left" [id]="field.fieldName">
          <label *ngFor="let lkp of field.lookUps "
            class="px-4 text-center py-2 lh-lg fs-8 w-100 {{lkp.id==field.value?'bg-blue-100 text-white border-0':'bg-linear-gray-100 text-black border'}} "
            (click)="field.value = lkp.id"
            >{{lkp.value}}</label>
        </div>
      </div>
    </ng-template>
  </div>
  <div *ngSwitchCase="'TimeLine'">
      <label *ngIf="field.labelName && field.labelName != '' "
          class="col-form-label col-xs-12 col-sm-{{getQuestionSpan(field)}}">{{field.labelName}}</label>
      <div class="col-xs-12 col-sm-12 {{getFieldClass(field)}}">
        <app-timeline [applicationFormInfo]="dynamicForm.applicationFormInfo"></app-timeline>
      </div>
  </div>
  <div *ngSwitchCase="'ClientReport'" [ngClass]="field?.fieldClass || ''">
    <div class="text-gray-200 ps-0 upload-document">
      <b *ngIf="field.labelName &&  field.labelName !=''">{{field.labelName}}
        <i *ngIf="field.additionalInfo" [id]="field.fieldName+'_tooltip'" class="fa fa-question-circle help"
          data-bs-toggle="tooltip" [attr.data-bs-title]="field.additionalInfo" data-bs-placement="top"
          aria-hidden="true"></i>
      </b>
      <div class="box-part-one "
        [ngStyle]="field.fieldName != 'visaimage' && field.maxColumn && field.maxColumn == 2 ? {'margin-left':'13%', 'max-width' : '70%'} : {} ">
        <div class="img-btn">
          <label
            class="download mr-1" (click)="downloadFile(field)">
            <i class="fa fa-download" aria-hidden="true" title="Download"></i>
          </label>
          <!-- <label
            class="remove" (click)="removeDocument(column,num, colIndex)">
            <i class="fa fa-trash-o" aria-hidden="true" title="Remove"></i>
          </label> -->
        </div>
        <!-- <input type="file" [disable]="" [id]="field.fieldName"> -->
        <img
          *ngIf="checkImageExt(field,'.pdf')"
          alt="upload document" class="img-fluid" src="../../assets/img/pdf-img.png" style="width:50%; left:145px;" />
        <img
          *ngIf="(checkImageExt(field,'.doc') || checkImageExt(field,'.docx'))"
          alt="upload document" class="img-fluid" src="../../assets/img/word-img.png" style="width:50%; left:145px;" />
        <img
          *ngIf="(checkImageExt(field,'.xlsx') || checkImageExt(field,'.xls') || checkImageExt(field,'.csv'))"
          alt="upload document" class="img-fluid" src="../../assets/img/excel-img.jpg" style="width:50%; left:145px;" />
        <p>
          Drag & drop
          <br> file here, or click
          <br> here to upload
        </p>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'SingleSlider'" class="row">
    <label *ngIf="field.labelName && field.labelName !== ''"
      class="col-form-label col-xs-12 col-sm-{{getQuestionSpan(field)}}">
      {{ field.labelName }}
      <i *ngIf="field.additionalInfo"
        [id]="field.fieldName + '_tooltip'"
        class="fa fa-question-circle help"
        data-bs-toggle="tooltip"
        [attr.data-bs-title]="field.additionalInfo"
        data-bs-placement="top"
        aria-hidden="true">
      </i>
    </label>

    <div class="col-xs-12 col-sm-{{ getAnswerSpan(field) }}">
      <rx-slider
              [floor]="1"
              [ceil]="field.maxLength || 5"
              [step]="1">
          </rx-slider>
    </div>
  </div>

</ng-container>
<div class="row grn-txt-ara mt-4"  *ngIf="field.controlType =='RadioButton' && field.isComment && field.value==45">
  <textarea maxlength="500" placeholder="Please provide details" style="overflow-x: hidden;" rows="4"></textarea>
  <div class="chck">
      <i aria-hidden="true" class="fa fa-check"></i>
  </div>
</div>
