################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UI/.angular/cache/15.2.11
/UI/node_modules
