<div class="health-work ps-1">



  <div>
    <div style="width: 200px">
      <label class="plus">
        <i class="fa fa-plus"></i>
      </label>
    </div>
  </div>

  <div>
    <div class="wrk-hstry-prts">
      <!-- New -->
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="box-part-one referoo-valid help p-0" title="">
            <div class="part-top">
              <div class="form-group head-action">
                <label data-toggle="tooltip" data-placement="bottom" title="Edit" class="edit"><i aria-hidden="true"
                    class="fa fa-edit"></i></label>
                <label data-toggle="tooltip" data-placement="bottom" title="Delete" class="trash"><i aria-hidden="true"
                    class="fa fa-trash-o"></i></label>
              </div>
              <div class="form-group company-dtl">
                <p><label>Position</label><span labletitle="" class="mb-0" title="Labourer">Labourer</span></p>
                <p><label>Company</label><span labletitle="" class="mb-0" title="SmartAi">SmartAi</span></p>
                <p><label>Duration</label><span labletitle=" " class="mb-0"
                    title="10/10/2020 - 10/10/2025 (2 Years 9 Months 7 Days)">{{date | date :'dd/MM/yyyy'}} - Present <span class="label-style" title="(2 Years 9 Months 7 Days)"> (2 Years 9 Months 7 Days) </span>
                  </span>
                </p>
              </div>
            </div>
            <div class="part-bottom">
              <div class="form-group card wrk-hostory-card">
                <p class="w-100"><label class="mb-0">Referee Name</label><span labletitle="" class="mb-0" title="Raj">
                    Raj <span class="label-style mb-0" title="(Owner)">(Owner)</span></span></p>
                <div class="d-flex align-item-start w-100 last-child-f">
                  <p class="mb-lg-0"><label class="mb-0">Phone Number</label><span labletitle="" class="mb-0"
                      title="0445674567">+61455674568</span></p>
                  <p class="mb-0 email_clip pl-lg-5"><label class="mb-0">Referee Email</label><span class="mb-0" labletitle=""
                      title="raj@company.com.au">raj&#64;company.com.au</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="box-part-one referoo-valid help p-0" title="">
            <div class="part-top">
              <div class="form-group head-action">
                <label data-toggle="tooltip" data-placement="bottom" title="Edit" class="edit"><i aria-hidden="true"
                    class="fa fa-edit"></i></label>
                <label data-toggle="tooltip" data-placement="bottom" title="Delete" class="trash"><i aria-hidden="true"
                    class="fa fa-trash-o"></i></label>
              </div>
              <div class="form-group company-dtl">
                <p><label>Position</label><span labletitle="" class="mb-0" title="forkliftdriver">Forklift driver</span></p>
                <p><label>Company</label><span labletitle="" class="mb-0" title="Onboarded">Onboarded</span></p>
                <p><label>Duration</label><span labletitle=" " class="mb-0"
                    title="1/1/2000 - 1/1/2001 (1 Year 1 Day)">1/1/2000 - 1/1/2001 <span class="label-style" title="(1 Year 1 Day)"> (1 Year 1 Day) </span>
                  </span>
                </p>
              </div>
            </div>
            <div class="part-bottom">
              <div class="form-group card wrk-hostory-card">
                <p class="w-100"><label class="mb-0">Referee Name</label><span labletitle="" class="mb-0" title="Bob Smith">
                  Bob Smith <span class="label-style mb-0" title="(Manager)">(Manager)</span></span></p>
                <div class="d-flex align-item-start w-100 last-child-f">
                  <p class="mb-lg-0"><label class="mb-0">Phone Number</label><span labletitle="" class="mb-0"
                      title="0456789477">+61456789477</span></p>
                  <p class="mb-0 email_clip pl-lg-5"><label class="mb-0">Referee Email</label><span class="mb-0" labletitle=""
                      title="john@example.com.au">john&#64;example.com.au</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
