<div class="w-100 international-mobile-code">
  <div class="international-mobile">
    <form [formGroup]="phoneForm">
      <ngx-intl-tel-input
        [cssClass]="'form-control mb-0 pb-0'"
        [preferredCountries]="[CountryISO.Australia, CountryISO.NewZealand, CountryISO.UnitedKingdom]"
        [enableAutoCountrySelect]="false"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
        [selectFirstCountry]="false"
        [selectedCountryISO]="countryCode"
        [maxLength]="15"
        [phoneValidation]="true"
        name="phone"
        formControlName="phone"
        (ngModelChange)="onValueChange($event)"
      ></ngx-intl-tel-input>
    </form>
  </div>
</div>
