<ng-container *ngIf="isShowComponent">
  <div class="ps-1 {{ section.sectionName == 'Update(s) to Bank, Tax, Super' ? 'my-0 py-0' : 'border-bottom'}}">
    <div *ngIf="!isUBCSection" class="{{ isVideoSection ? 'd-flex' : ''}}">
      <div *ngIf="isVideoSection" class="col-xs-12 col-sm-4 video-live">
        <iframe [src]='videoSafePath' frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="{{ isVideoSection ? 'col-xs-12 col-sm-8 video-ans': '' }}">
        <div class=" row mb-4 {{ getHiddenClass(row) }} {{row.rowClass && row.rowClass != null && row.rowClass != '' ? row.rowClass :'' }}" *ngFor="let row of section.rows; let rowIdx = index">
          <ng-container *ngFor="let field of row.columns" >
            <div *ngIf="!resrictedFieldsList.includes(field.fieldName)" class=" {{ getConditionalCSSFlag(field) }} position-relative {{ isEditable && field.formFieldId == editableFieldId ? 'functional-row' : ''}} py-2">
              <div class="m-0 ps-2" *ngIf="(field.dependentFormFieldColumns && field.dependentFormFieldColumns.length > 0 ? isDependentField(field) : true)" (click)="updateEditSettings.emit({formFieldId:isEditable ? field.formFieldId : -1})" (dblclick)="updateEditSettings.emit({formFieldId: -1})">
                <app-field-control [dynamicForm]="dynamicForm" [field]="field" [conditionalFlag]="getConditionalFlag(field, stage)" (updatedField)="retriveUpdatesForDependent($event)" ></app-field-control>
              </div>
              <div *ngIf="isEditable && field.formFieldId == editableFieldId" class="d-flex mt-2 justify-content-end functional-btn">
                <button type="button" (click)="deleteFieldAction(field.formFieldId)" class="badge bg-danger bg-opacity-75 border-0 mx-1 p-0" >
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                <button type="button" (click)="dndEnabledIdForSectionFields = section.formSectionId" class="badge badge bg-secondary  border-0 mx-1 me-0 p-0">
                  <svg height="16" width="16" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9.9 6.417a1 1 0 0 1-.9.571H6V17a1 1 0 0 1-2 0V6.988H1a1 1 0 0 1-.9-.571.983.983 0 0 1 .12-1.051l4-5.006a1.024 1.024 0 0 1 1.56 0l4 5.006a.983.983 0 0 1 .12 1.051zm8 5.166a1 1 0 0 0-.9-.571h-3V1a1 1 0 0 0-2 0v10.012H9a1 1 0 0 0-.9.571.983.983 0 0 0 .12 1.051l4 5.006a1.024 1.024 0 0 0 1.56 0l4-5.006a.983.983 0 0 0 .12-1.051z" fill="#ffffff" fill-rule="evenodd"></path> </g></svg>
                </button>
                <button type="button" (click)="editPropAction(field)" class="badge bg-primary border-0 mx-1 me-0 p-0">
                  <i class="fa fa-cog" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div *ngIf="isUBCSection">
      <div class="p-3 text-center text-muted">
        <p>Background check functionality has been removed in this simplified POC.</p>
        <p>Focus on basic form field CRUD operations instead.</p>
      </div>
    </div>
    <div *ngIf="isEditable && !isUBCSection" class="d-flex justify-content-end">
      <div class="btn-group dropstart field_toggle" style="top: 15px">
        <button type="button" class="btn bg-primary btn-sm rounded" data-bs-toggle="dropdown" aria-expanded="false">
          <svg width="15" height="15" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"
               class="icon line-color plus_ic m-auto">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 12H7L7 7H12V5H7L7 0H5L5 5H0V7H5L5 12Z" fill="white" />
          </svg>
          <svg width="14" height="10" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg"
               class="icon line-color minus_ic m-auto">
            <path d="M12 5.24537e-07V2L0 2L8.74224e-08 0L12 5.24537e-07Z" fill="white" />
          </svg>
        </button>
        <ul *ngIf="!isUBCSection" class="dropdown-menu drp-menu-list fw-semibold">
          <li *ngFor="let item of fieldTypeList;let last= last" (click)="addFieldAction(item.controls[0])">
            <span class="dropdown-item drp-item-font" style="cursor: pointer" *ngIf="!item?.isHideControl">{{ item.catName }}</span>
          </li>
          <li (click)="addNewSectionAction()" class="border-top">
            <span class="dropdown-item drp-item-font" style="cursor: pointer" >Add New Sub-Section</span>
          </li>
        </ul>

      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="isEditPropWindowVisible">
  <app-edit-field-properties-simplified [dynamicForm]="dynamicForm" [field]="selectedEditField" [isAddField]="isAddFieldSidebar" (updateFieldPropChanges)="retriveEditPropChanges($event)"></app-edit-field-properties-simplified>
</ng-container>
<ng-container *ngIf="dndEnabledIdForSectionFields != -1">
  <app-field-drag-sidebar [section]="getDragFieldModel()" (updateDragFieldSidebar)="retriveDragFieldSidebarUpdate($event)"></app-field-drag-sidebar>
</ng-container>
<ng-container *ngIf="isFieldsetSidebar">
  <app-fieldset-sidebar [dynamicForm]="dynamicForm" [stage]="stage" [section]="section" [field]="selectedEditField" [formProperty]="formProps" [isAddFieldset]="isAddFieldsetSidebar" [fieldsetCategory]="fieldsetCategory" (updateFieldsetPropChanges)="retriveEditFieldsetChanges($event)"></app-fieldset-sidebar>
</ng-container>
<ng-container *ngIf="currentDnDModelId != -1">
  <app-general-drag-n-drop-sidebar [modelList]="getDnDModelList()" (updateDnDSidebar)="retriveChecksDragDropSidebar($event)"></app-general-drag-n-drop-sidebar>
</ng-container>
