<div id="backgroundCheckSidebar" class="offcanvas w-25 functional-side-panel font-open-sans offcanvas-end"
  data-bs-scroll="true" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="backgroundCheckSidebarCanvasLabel">
  <div class="offcanvas-header text-gray-400 border-bottom p-0">
    <h4 *ngFor="let tab of tabsToShow; let tabIdx=index" style="padding-left: 38px;"
      class="offcanvas-title col-{{ tabsToShow.length == 2 ? '6' : '12' }} fs-6 py-3 border-bottom pointer-class border-4 {{isActiveTab == tabIdx ? 'border-primary text-gray-400' : 'border-white text-gray-500'}} "
      (click)="isActiveTab=tabIdx">
      <i class="fa me-2 {{ tabIdx == 0 && 'fa-cog ' || tabIdx==1 && 'fa-plug'  }} {{isActiveTab==tabIdx?'text-primary':'text-gray-500'}} " aria-hidden="true"></i>
      {{tab}}
    </h4>
  </div>
  <div class="offcanvas-body text-gray-400 p-0">
    <div class="py-3 mb-0 border-bottom border-dark border-opacity-25 border-1">
      <h6 class="fw-bold ms-4 mb-0">{{this.currentCheck.displayName}} Properties</h6>
    </div>
    <app-sidebar-prop-formgroup #childComp [FormGroupToDisplay]="backgroundCheckSidebarForm" [PropList]="propList"
      [isActiveTab]="isActiveTab" [uniqueStr]="uniqueStr" [filesContainer]="filesContainer"
      [isAddFieldset]="isAddBackgroundCheckSidebar" [isLicenceSection]="isLicenceSection"
      (outputFilesContainerChanged)="onChildFilesContainerChanged($event)"></app-sidebar-prop-formgroup>
  </div>
  <div class="offcanvas-footer py-3">
    <div class="d-flex justify-content-center ">
      <button class="btn btn-secondary me-2 px-lg-4 px-3" (click)="cancelChanges()">Cancel</button>
      <button class="btn btn-primary px-3 px-lg-4" [disabled]="!validateSave()" (click)="saveChanges()"> {{
        isAddBackgroundCheckSidebar ? 'Add' : 'Update' }} </button>
    </div>
  </div>
</div>
