<div *ngIf="['P45Declaration'].includes(section.sectionKeyName) " class="px-3">
  <app-section-rows [stage]="stage"  [section]="section" [dynamicForm]="dynamicForm" ></app-section-rows>
</div>

<div *ngIf="section.sectionName =='Starter Checklist'" class="payroll-pack-body-class border-0 " >
  <div [class.d-none]="!(section.sectionName == 'Starter Checklist')" class="d-flex justify-content-center py-4 px-sm-2 " style="background-color: #eee;" >
    <img src="../../assets/img/ScreenShots/UKStarterCheckList.png" alt="StarterCheckList" class="img-fluid pdf-view"  >
  </div>
</div>

<div *ngIf="['Bank Details'].includes(section.sectionName) " class="px-3">
  <app-section-rows [stage]="stage"  [section]="section" [dynamicForm]="dynamicForm" ></app-section-rows>
</div>
