<ng-container [ngSwitch]="backgroundCheck">
  <div *ngSwitchCase="CheckCategories().BackgroundCheckDeclaration">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/BackgroundCheckDeclaration.png" alt="BackgroundCheckDeclaration" srcset="">
  </div>
  <div *ngSwitchCase="CheckCategories().IdentityCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/IdentityCheck.png" alt="IdentityCheck" srcset="">
  </div>
  <div *ngSwitchCase="CheckCategories().RightToWorkCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/RightToWorkCheck.png" alt="RightToWorkCheck" srcset="">
  </div>
  <div *ngSwitchCase="CheckCategories().RapidReferenceCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/RapidReferenceCheck.png" alt="ReferenceCheck" srcset="">
  </div>
  <div *ngSwitchCase="CheckCategories().DbsENWBasicCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/DbsENWBasicCheck.png" alt="DbsENWBasicCheck" srcset="">
  </div>
  <div *ngSwitchCase="CheckCategories().DbsBasicScotlandCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/DbsBasicScotlandCheck.png" alt="DbsBasicScotlandCheck" srcset="">
  </div>
  <div *ngSwitchCase="CheckCategories().DbsStandardCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/DbsStandardCheck.png" alt="DbsStandardCheck" srcset="">
  </div>
  <div *ngSwitchCase="CheckCategories().DbsEnhancedCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/DbsEnhancedCheck.png" alt="DbsEnhancedCheck" srcset="">
  </div>
  <div *ngSwitchCase="CheckCategories().IdentityCheckHighConfidence">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/IdentityCheckHighConfidence.png" alt="IdentityCheckHighConfidence" srcset="">
  </div>
  <div *ngSwitchCase="CheckCategories().EmploymentReferenceCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/EmploymentReferenceCheck.png" alt="EmploymentReferenceCheck" srcset="">
  </div>
  <div *ngSwitchCase="CheckCategories().AdverseFinancialSummaryCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/AdverseFinancialSummaryCheck.png" alt="AdverseFinancialSummaryCheck" srcset="">
  </div>
  <div *ngSwitchCase="CheckCategories().AdverseFinancialDetailCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/AdverseFinancialDetailCheck.png" alt="AdverseFinancialDetailCheck" srcset="">
  </div>
  <div *ngSwitchCase="CheckCategories().SanctionsCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/SanctionsCheck.png" alt="SanctionsCheck" srcset="">
  </div>
  <div *ngSwitchCase="CheckCategories().ReferenceCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/ReferenceCheck.png" alt="ReferenceCheck" srcset="">
  </div>
  <div *ngSwitchCase="CheckCategories().SocialMediaEssentialsCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/socialMediaEssentialsCheck.png" alt="socialMediaEssentialsCheck" srcset="">   
  </div>
  <div *ngSwitchCase="CheckCategories().SocialMediaPlusCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/socialMediaPlusCheck.png" alt="socialMediaPlusCheck" srcset="">   
  </div>
  <div *ngSwitchCase="CheckCategories().DrivingLicenceCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/drivingLicenceCheck.png" alt="drivingLicenceCheck" srcset="">   
  </div>
  <div *ngSwitchCase="CheckCategories().AnimalRightsCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/AnimalRightsCheck.png" alt="AnimalRightsCheck" srcset="">   
  </div>
  <div *ngSwitchCase="CheckCategories().CivilLitigationCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/CivilLitigationCheck.png" alt="CivilLitigationCheck" srcset="">   
  </div>
  <div *ngSwitchCase="CheckCategories().CIFASCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/CIFASCheck.png" alt="CIFASCheck" srcset="">   
  </div>
  <div *ngSwitchCase="CheckCategories().DirectorshipCheck">
    <img src="https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Lite/Image/BackgroundCheckImages/DirectorshipCheck.png" alt="DirectorshipCheck" srcset="">   
  </div>
  <div *ngSwitchDefault>
    preview image will be available soon...
  </div>
</ng-container>
