<div class="p-1">
  <div class="d-flex align-items-center justify-content-between py-3 px-4 bg-white border">
    <h4 class="fw-semibold h6 mb-0 text-gray-100 lh-lg">Personal Information</h4>

  </div>
  <div class="bg-white  mdl-prt-content form-label-middle px-4 py-3 border border-top-0">
    <div class="health-work">
      <div class="d-flex align-items-center mb-4">
        <h5 class="pointer-class fw-semibold mb-0 text-gray-300 fs-7 d-flex align-items-center ps-0 ">
          <i class="fa fa-sort-desc me-2 fs-5 va-sup"></i><span>Others</span></h5>
      </div>
      <div class="frm-part px-1">
        <div class=" form-group row">
          <div class="col-xs-12 col-sm-4">
            <div>
              <div class="col-xs-12 col-sm-4 align-self-start">
                <label class="col-form-label">Upload Profile Picture</label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div>
                  <div class="upload-document">
                    <div class="box-part-one personal-upload-pic">
                      <input type="file">
                      <p>
                        Drag & drop 
                        <br> file here, or click 
                        <br> here to upload
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label">Title</label>
              <div class="col-xs-12 col-sm-9">
                <select class="form-select " required="" style=" height: 44px; width: 100%;" tabindex="1">
                  <option value="null">---Select---</option>
                  <option [value]="item.salutionId" *ngFor="let item of salutionLookUps">
                    {{item.salutionName}}</option>
                </select>
              </div>
            </div>
            <div>
              <label class="col-xs-12 col-sm-3 form-label">Date of Birth</label>
              <div class="col-xs-12 col-sm-9 date-width">
                <div class="input-group mb-3 position-relative">
                  <input type="text" class="form-control"  id="dob"  value="{{datePickerValue? (datePickerValue | date:'dd/MM/yyyy' ) : ''}}" (blur)="dateOnly($event)" placeholder="DD/MM/YYYY" >
                  <input type="date" class="form-control w-px-4" [(ngModel)]="datePickerValue" name="piDOB"  />
                </div>
              </div>
            </div>
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label">Gender</label>
              <div class="col-xs-12 col-sm-9">
                <select class="form-select  " style=" height: 44px; width: 100%;" tabindex="5">
                  <option value="null">---Select---</option>
                  <option value="164">Female</option>
                  <option value="2354" *ngIf="dynamicForm.applicationFormCountry.toUpperCase() != 'UK'">Indeterminate/Intersex/Unspecified</option>
                  <option value="163">Male</option>
                  <option value="1" *ngIf="dynamicForm.applicationFormCountry.toUpperCase() != 'UK'">Prefer not to say</option>
                  <option value="162" *ngIf="dynamicForm.applicationFormCountry.toUpperCase() != 'UK'">Unknown</option>
                </select>
              </div>
            </div>
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label">Preferred Name</label>
              <div class="col-xs-12 col-sm-9">
                <input class="form-control  " maxlength="50" placeholder="Preferred Name" type="text" tabindex="6" pattern="^[^0-9]*$" (input)="onInputChange($event)">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label">First Name (Legal)</label>
              <div class="col-xs-12 col-sm-9">
                <input apptitlecase="" class="form-control  " maxlength="50" placeholder="First Name (Legal)"
                  required="" style="text-transform: capitalize;" tabindex="2" type="text" pattern="^[^0-9]*$" (input)="onInputChange($event)">
              </div>
            </div>
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label">Middle Name</label>
              <div class="col-xs-12 col-sm-9">
                <input apptitlecase="" class="form-control  " maxlength="50" placeholder="Middle Name" pattern="^[^0-9]*$" (input)="onInputChange($event)"
                  style="text-transform: capitalize;" tabindex="4" type="text">
              </div>
            </div>
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label">Last Name (Legal)</label>
              <div class="col-xs-12 col-sm-9">
                <input apptitlecase="" class="form-control  " maxlength="50" placeholder="Last Name (Legal)" required=""
                  style="text-transform: capitalize;" type="text" tabindex="6" pattern="^[^0-9]*$" (input)="onInputChange($event)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white  mdl-prt-content form-label-middle px-4 py-3 border border-top-0">
    <div class="health-work">
      <div class="d-flex align-items-center mb-4">
        <h5 class="pointer-class fw-semibold mb-0 text-gray-300 fs-7 d-flex align-items-center ps-0 ">
          <i class="fa fa-sort-desc me-2 fs-5 va-sup"></i><span>Contact</span></h5>
      </div>
      <div class="frm-part px-1">
        <div class=" form-group row">
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-5 col-form-label">Telephone</label>
              <div class="col-xs-12 col-sm-7 personal-info ">
                <app-mobilephone-validator ></app-mobilephone-validator>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="">
              <label class="col-xs-12 col-sm-3 col-form-label">Mobile</label>
              <div class="col-xs-12 col-sm-9 personal-info ">
                <app-mobilephone-validator ></app-mobilephone-validator>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label">Email Address</label>
              <div class="col-xs-12 col-sm-9">
                <input class="form-control  " maxlength="255" placeholder="Email" required="" tabindex="9" type="email">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white  mdl-prt-content form-label-middle px-4 py-3 border border-top-0">
    <div class="health-work">
      <div class="d-flex align-items-center mb-4">
        <h5 class="pointer-class fw-semibold mb-0 text-gray-300 fs-7 d-flex align-items-center ps-0 ">
          <i class="fa fa-sort-desc me-2 fs-5 va-sup"></i><span>Address</span></h5>
      </div>

      <div class="frm-part px-1">
        <div class=" form-group row" style="margin-bottom: 0px;">
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-5 col-form-label">House/unit Number</label>
              <div class="col-xs-12 col-sm-7">
                <input class="form-control   pac-target-input" maxlength="100" ngx-google-places-autocomplete=""
                  required="" type="text" tabindex="10" placeholder="House/unit Number" autocomplete="off">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Street Name</label>
              <div class="col-xs-12 col-sm-9">
                <input apptitlecase="" class="form-control  " maxlength=" 100" style="text-transform: capitalize;"
                  tabindex="11" type="text" placeholder="Street Name">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div *ngIf="dynamicForm.applicationFormCountry.toUpperCase() == 'UK';else SuburbTemplate">
              <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">County</label>
              <div class="col-xs-12 col-sm-9">
                <input apptitlecase="" class="form-control  " maxlength="60" placeholder="County" required=""
                  style="text-transform: capitalize;" tabindex="12" type="text">
              </div>
            </div>
            <ng-template #SuburbTemplate>
              <div>
                <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Suburb</label>
                <div class="col-xs-12 col-sm-9">
                  <input apptitlecase="" class="form-control  " maxlength="60" placeholder="Suburb" required=""
                    style="text-transform: capitalize;" tabindex="12" type="text">
                </div>
              </div>
            </ng-template>
          </div>
        </div>
        <div class=" form-group row" style="margin-bottom: 0px;">
          <div class="col-xs-12 col-sm-4">
            <div *ngIf="dynamicForm.applicationFormCountry.toUpperCase() == 'AU'">
              <label class="col-xs-12 col-sm-5 col-form-label">State</label>
              <div class="col-xs-12 col-sm-7">
                <select class="form-select  "
                  style=" height: 44px; width: 100%;" tabindex="13">
                  <option value="null">---Select---</option>
                  <option value="1">
                    NSW</option>
                  <option value="2">
                    VIC</option>
                  <option value="3">
                    QLD</option>
                  <option value="4">
                    SA</option>
                  <option value="5">
                    WA</option>
                  <option value="6">
                    TAS</option>
                  <option value="7">
                    ACT</option>
                  <option value="8">
                    NT</option>
                </select>
              </div>
            </div>
            <div *ngIf="dynamicForm.applicationFormCountry.toUpperCase() == 'NZ'">
              <label class="col-xs-12 col-sm-5 col-form-label">City</label>
              <div class="col-xs-12 col-sm-7">
                <input class="form-control  " maxlength=" 100" style="text-transform: capitalize;" tabindex="11"
                  type="text" placeholder="City">
              </div>
            </div>
            <div *ngIf="dynamicForm.applicationFormCountry.toUpperCase() == 'UK'">
              <label class="col-xs-12 col-sm-5 col-form-label">Town/City</label>
              <div class="col-xs-12 col-sm-7">
                <input class="form-control  " maxlength=" 100" style="text-transform: capitalize;" tabindex="11"
                  type="text" placeholder="Town/City">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Postcode</label>
              <div class="col-xs-12 col-sm-9">
                <input class="form-control numbertypemofidy  " maxlength="4" minlength="3"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  pattern="[0-9]{3,4}" placeholder="Postcode" required="" tabindex="14" type="text">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Country</label>
              <div class="col-xs-12 col-sm-9">
                <input class="form-control" disabled="true" maxlength="60" placeholder="Country"
                  value="{{dynamicForm.applicationFormCountry == 'NZ' ? 'New Zealand':'Australia'}}"
                  style="background:white; cursor: not-allowed;" tabindex="14" type="text">
              </div>
            </div>
          </div>
        </div>

        <div class=" form-group row" style="margin-bottom: 0px;">
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-5 col-form-label">Is Mailing Address Different?
              </label>
              <div class="col-xs-12 col-sm-7">
                <div>
                  <div class="form-group first radio_buttons">
                    <div class="lbl">
                      <label *ngFor="let radioLabel of [{id:1,value:'Yes'},{id:0,value:'No'}]"
                        (click)="isMailingAddressDifferent = radioLabel.id == 1 ? true : false "
                        class="radio"
                        [class.radio-active]="radioLabel.id == (isMailingAddressDifferent ==  true? 1 : 0 )">
                        {{radioLabel.value}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="isMailingAddressDifferent">
          <div class=" form-group row" style="margin-bottom: 0px;">
            <div class="col-xs-12 col-sm-4">
              <div>
                <label class="col-xs-12 col-sm-5 col-form-label">House/unit Number</label>
                <div class="col-xs-12 col-sm-7">
                  <input class="form-control   pac-target-input" maxlength="100" ngx-google-places-autocomplete=""
                    required="" type="text" tabindex="10" placeholder="House/unit Number" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div>
                <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Street Name</label>
                <div class="col-xs-12 col-sm-9">
                  <input apptitlecase="" class="form-control  " maxlength=" 100" style="text-transform: capitalize;"
                    tabindex="11" type="text" placeholder="Street Name">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div *ngIf="dynamicForm.applicationFormCountry.toUpperCase() == 'UK';else SuburbTemplate">
                <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">County</label>
                <div class="col-xs-12 col-sm-9">
                  <input apptitlecase="" class="form-control  " maxlength="60" placeholder="County" required=""
                    style="text-transform: capitalize;" tabindex="12" type="text">
                </div>
              </div>
              <ng-template #SuburbTemplate>
                <div>
                  <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Suburb</label>
                  <div class="col-xs-12 col-sm-9">
                    <input apptitlecase="" class="form-control  " maxlength="60" placeholder="Suburb" required=""
                      style="text-transform: capitalize;" tabindex="12" type="text">
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
          <div class=" form-group row" style="margin-bottom: 0px;">
            <div class="col-xs-12 col-sm-4">
              <div *ngIf="dynamicForm.applicationFormCountry.toUpperCase() == 'AU'">
                <label class="col-xs-12 col-sm-5 col-form-label">State</label>
                <div class="col-xs-12 col-sm-7">
                  <select class="form-select  "
                    style=" height: 44px; width: 100%;" tabindex="13">
                    <option value="null">---Select---</option>
                    <option value="1">
                      NSW</option>
                    <option value="2">
                      VIC</option>
                    <option value="3">
                      QLD</option>
                    <option value="4">
                      SA</option>
                    <option value="5">
                      WA</option>
                    <option value="6">
                      TAS</option>
                    <option value="7">
                      ACT</option>
                    <option value="8">
                      NT</option>
                  </select>
                </div>
              </div>
              <div *ngIf="dynamicForm.applicationFormCountry.toUpperCase() == 'NZ'">
                <label class="col-xs-12 col-sm-5 col-form-label">City</label>
                <div class="col-xs-12 col-sm-7">
                  <input class="form-control  " maxlength=" 100" style="text-transform: capitalize;" tabindex="11"
                    type="text" placeholder="City">
                </div>
              </div>
              <div *ngIf="dynamicForm.applicationFormCountry.toUpperCase() == 'UK'">
                <label class="col-xs-12 col-sm-5 col-form-label">Town/City</label>
                <div class="col-xs-12 col-sm-7">
                  <input class="form-control  " maxlength=" 100" style="text-transform: capitalize;" tabindex="11"
                    type="text" placeholder="Town/City">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div>
                <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Postcode</label>
                <div class="col-xs-12 col-sm-9">
                  <input class="form-control numbertypemofidy  " maxlength="4" minlength="3"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    pattern="[0-9]{3,4}" placeholder="Postcode" required="" tabindex="14" type="text">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div>
                <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Country</label>
                <div class="col-xs-12 col-sm-9">
                  <input class="form-control" disabled="true" maxlength="60" placeholder="Country"
                    value="{{dynamicForm.applicationFormCountry == 'NZ' ? 'New Zealand':'Australia'}}"
                    style="background:white; cursor: not-allowed;" tabindex="14" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
