/* .sk-spinner-cube-grid.sk-spinner {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: fixed;
  } */
.sk-spinner-pulse.sk-spinner {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background-color: #21446b !important;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
  animation: sk-pulseScaleOut 1s infinite ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto !important;
}
@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);  
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
} 

.loadin {
    cursor: wait;
    color: blue;
    font: 20px/24px 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-transition: 200ms opacity;
    background-color: rgba(255, 255, 255, 0.75);
    bottom: 0;
    display: -webkit-box;
    left: 0;
    overflow: auto;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    vertical-align: central;
    font-size: 13px;
    z-index: 9999;
}
 
.sk-spinner-cube-grid.sk-spinner {
    min-width: 55px;
    min-height:55Px;
    margin: 0;
    left: 50%;
    top: 50%;
    margin-top:-8px;
    margin-left: -40px;
    bottom: auto;
    position: fixed;
    line-height: 16px;
    padding-left: 0px;
-moz-transform: translateY(-50%);
-ms-transform:  translateY(-50%);
-o-transform: translateY(-50%);
-webkit-transform:  translateY(-50%);
    transform: translateY(-50%); 
}