.wrk-hstry-prts .box-part-one {
  min-height: 185px;
  position: relative;
  box-shadow: 0 1px 4px #ccc;
  border: 0px;
  padding: 24px;
  margin-bottom: 34px;
}

.wrk-hstry-prts .box-part-one .form-group.contact-card span.card-name {
  font-size: 20px!important;
  color: #3e3d3d;
}

.form-group.card {
  margin: 0;
  border: 0px;
}

.card-name {
  font-size: 25px!important;
  margin-bottom: 0!important;
}

.form-group {
  text-align: left;
}

.wrk-hstry-prts .box-part-one .form-group span {
  font-size: 12px;
  color: #717171;
  font-family: latoregular,sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 8px;
}

.wrk-hstry-prts .box-part-one .form-group span.font-16 {
  font-size: 14px;
  font-weight: 400;
}

.wrk-hstry-prts .box-part-one .icon-group {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 11;
  align-items: center;
}

.icon-bottom {
  position: absolute;
  right: 24px;
  bottom: 24px;
  color: #5d9bfb;
  z-index: 11;
}

.font-16,
.wrk-hstry-prts button.section-event {
  font-size: 16px;
}

button.section-event {
  background: none;
  border: transparent;
  float: right;
}
button,
input,
select,
textarea {
  font-family: inherit;
  line-height: inherit;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  --webkit-appearance: button;
  cursor: pointer;
}
button,
select {
  text-transform: none;
}
button {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

.fa {
  display: inline-block;
  font: 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
}

.edit-collection {
  height: 21px !important;
  padding-top: 0 !important;
}
.btn {
  min-height: 0;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, btn-primary:active {
  background-color: #616e81;
  border-color: #606d7f;
  color: #fff;
}

.btn {
  border-radius: 3px;
}
.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}
.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}
.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.dropdown-menu.invite-contact {
  cursor: pointer;
}

.dropdown-menu {
  border: medium none;
  border-radius: 3px;
  box-shadow: 0 0 3px #566075b3;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 1000;
  min-width: 160px;
  margin: 2px 0 0;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
}

.dropdown-menu.invite-contact .dropdown-item {
  padding: 5px;
}

.dropdown-item .dropdown-item:active{
  background: white;
  color: #000;
}


