<div class="wrk-hstry-prts">
  <div class="row">

    <!-- 1st card -->
    <div class="col-lg-4 col-md-6">
      <div class="box-part-one">
        <div class="icon-group">
          <button data-toggle="tooltip" data-placement="bottom" title="Delete" class="section-event">
            <i aria-hidden="true" class="fa fa-trash-o font-16"></i></button>
          <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false" title="Action"
            class="btn btn-primary right my-1 edit-collection me-1"> Action <i aria-hidden="true"
              class="fa fa-caret-down"></i></button>
          <div aria-labelledby="dropdownMenuButton" class="dropdown-menu invite-contact mt-1">
            <li class="dropdown-item"> Send Onboarding Pack</li>
            <li class="dropdown-item"> Send Document to Sign </li>
          </div>
          <button appdoubleclick="" data-toggle="tooltip" data-placement="bottom" title="Edit" class="btn btn-primary right my-1 edit-collection mr-1"> Edit </button>
        </div>
        <div class="icon-bottom fs-6">
          <span data-toggle="tooltip" title="Authorised to sign Contract" class="px-1"><i aria-hidden="true" class="fa fa-file-text-o fa-lg"></i></span>
        </div>
        <div class="col-sm-12 col-12 p-0">
          <div class="form-group card contact-card ">
            <span class="card-name float-left w-100">Raj Soni</span>
          </div>
        </div>
        <div class="col-sm-12 col-12 p-0">
          <div class="form-group card contact-card"><span
              class="card-content float-left  w-100">Founder</span></div>
        </div>
        <div class="col-sm-12 col-12 p-0">
          <div class="form-group card contact-card"><span class="font-16"><i aria-hidden="true"
                class="fa fa-envelope me-3 font-16"></i>raj&#64;onboarded.com.au</span></div>
        </div>
        <div class="col-sm-12 col-12 p-0">
          <div class="form-group card contact-card"><span class="font-16"><i aria-hidden="true"
                class="fa fa fa-phone me-3 font-16"></i>0411410810</span></div>
        </div>
        <div class="col-sm-12 col-12 p-0">
          <div class="form-group card contact-card"><span class="font-16 pe-5 d-flex">
            <i aria-hidden="true" class="fa fa-map-marker me-3 font-16"></i>
            <span class="font-16">15 Colonial Circuit, Wauchope, NSW, 2446</span></span></div>
        </div>
      </div>
    </div>

    <!-- 2nd card -->
    <div class="col-lg-4 col-md-6">
      <div class="box-part-one">
        <div class="icon-group">
          <button data-toggle="tooltip" data-placement="bottom" title="Delete" class="section-event">
            <i aria-hidden="true" class="fa fa-trash-o font-16"></i></button>
          <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false" title="Action"
            class="btn btn-primary right my-1 edit-collection me-1"> Action <i aria-hidden="true"
              class="fa fa-caret-down"></i></button>
          <div aria-labelledby="dropdownMenuButton" class="dropdown-menu invite-contact mt-1">
            <li class="dropdown-item"> Send Onboarding Pack</li>
            <li class="dropdown-item"> Send Document to Sign </li>
          </div>
          <button appdoubleclick="" data-toggle="tooltip" data-placement="bottom" title="Edit" class="btn btn-primary right my-1 edit-collection mr-1"> Edit </button>
        </div>
        <div class="icon-bottom fs-6">
          <span data-toggle="tooltip" title="Timesheet Approver Contact" class="px-1"><i aria-hidden="true" class="fa fa-check-square-o fa-lg"></i></span>
        </div>
        <div class="col-sm-12 col-12 p-0">
          <div class="form-group card contact-card ">
            <span class="card-name float-left w-100">Greg H</span>
          </div>
        </div>
        <div class="col-sm-12 col-12 p-0">
          <div class="form-group card contact-card"><span
              class="card-content float-left  w-100">Floor Manager</span></div>
        </div>
        <div class="col-sm-12 col-12 p-0">
          <div class="form-group card contact-card"><span class="font-16"><i aria-hidden="true"
                class="fa fa-envelope me-3 font-16"></i>greg&#64;onboarded.com.au</span></div>
        </div>
        <div class="col-sm-12 col-12 p-0">
          <div class="form-group card contact-card"><span class="font-16"><i aria-hidden="true"
                class="fa fa fa-phone me-3 font-16"></i>0425845745</span></div>
        </div>
        <div class="col-sm-12 col-12 p-0">
          <div class="form-group card contact-card"><span class="font-16 pe-5 d-flex"><i
                aria-hidden="true" class="fa fa-map-marker me-3 font-16"></i><span class="font-16">15 Colonial Circuit, Wauchope, NSW, 2446</span></span></div>
        </div>
      </div>
    </div>

    <!-- 3rd card -->
    <div class="col-lg-4 col-md-6">
      <div class="box-part-one">
        <div class="icon-group">
          <button data-toggle="tooltip" data-placement="bottom" title="Delete" class="section-event">
            <i aria-hidden="true" class="fa fa-trash-o font-16"></i></button>
          <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false" title="Action"
            class="btn btn-primary right my-1 edit-collection me-1"> Action <i aria-hidden="true"
              class="fa fa-caret-down"></i></button>
          <div aria-labelledby="dropdownMenuButton" class="dropdown-menu invite-contact mt-1">
            <li class="dropdown-item"> Send Onboarding Pack</li>
            <li class="dropdown-item"> Send Document to Sign </li>
          </div>
          <button appdoubleclick="" data-toggle="tooltip" data-placement="bottom" title="Edit" class="btn btn-primary right my-1 edit-collection mr-1"> Edit </button>
        </div>
        <div class="icon-bottom fs-6">
          <span data-toggle="tooltip" title="Accounts Payable Contact" class="px-1"><i aria-hidden="true" class="fa fa-usd fa-lg"></i></span>
        </div>
        <div class="col-sm-12 col-12 p-0">
          <div class="form-group card contact-card ">
            <span class="card-name float-left w-100">Sandra Smith</span>
          </div>
        </div>
        <div class="col-sm-12 col-12 p-0">
          <div class="form-group card contact-card"><span
              class="card-content float-left  w-100">Accounts Payable</span></div>
        </div>
        <div class="col-sm-12 col-12 p-0">
          <div class="form-group card contact-card"><span class="font-16"><i aria-hidden="true"
                class="fa fa-envelope me-3 font-16"></i>sandra&#64;ABC.com.au</span></div>
        </div>
        <div class="col-sm-12 col-12 p-0">
          <div class="form-group card contact-card"><span class="font-16"><i aria-hidden="true"
                class="fa fa fa-phone me-3 font-16"></i>0145214854</span></div>
        </div>
        <div class="col-sm-12 col-12 p-0">
          <div class="form-group card contact-card"><span class="font-16 pe-5 d-flex"><i
                aria-hidden="true" class="fa fa-map-marker me-3 font-16"></i><span class="font-16">15 Colonial Circuit, Wauchope, NSW, 2446</span></span></div>
        </div>
      </div>
    </div>

  </div>
</div>
