<div id="editFieldProp"
  class="offcanvas w-25 functional-side-panel font-open-sans offcanvas-{{ field.maxColumn && field.maxColumn>2 && field.maxColumn==field.columnIndex ? 'start':'end'}}"
  data-bs-scroll="true" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="editFieldPropLabel">
  <div class="offcanvas-header text-gray-400 border-bottom p-0">
    <h4 *ngFor="let tab of tabsToShow;let tabIdx=index"
      class="offcanvas-title text-center col-{{ tabsToShow.length == 2 ? '6' : '4' }} fs-6 py-3 border-bottom pointer-class border-4 {{isActiveTab==tabIdx?'border-primary text-gray-400':'border-white text-gray-500'}} "
      (click)="isActiveTab=tabIdx"><i
        class="fa me-2 {{ tabIdx==0 && 'fa-cog ' || tabIdx==1 && 'fa-sliders' || tabIdx==2 && 'fa-plug'  }} {{isActiveTab==tabIdx?'text-primary':'text-gray-500'}} "
        aria-hidden="true"></i>{{tab}}</h4>
  </div>
  <!-- <div class="offcanvas-body text-gray-400 p-0" *ngIf="isShowComponent"> -->
  <div class="offcanvas-body text-gray-400 p-0" *ngIf="isShowComponent">
    <div class="py-3 mb-0 border-bottom border-dark border-opacity-25 border-1"
      *ngIf="currentCat && currentCat.catName">
      <h6 class="fw-bold ms-4 mb-0">{{ currentCat.catName + ' Properties'}}</h6>
    </div>
    <form [formGroup]="EditForm" class="px-4 EditForm">
      <ng-container *ngFor="let item of propList; ">
        <ng-container [ngSwitch]="true">
          <div
            *ngSwitchCase="item.propType=='text' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true) && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            class="py-4 field_section" [ngClass]="item.attr?.customClass || ''">
            <label [for]="item.prop" class="form-label">{{item.propLabel }}</label>
            <input [id]="item.prop" class="form-control rounded" type="text"
              [placeholder]="item.attr && item.attr.placeholder ? item.attr.placeholder:''"
              [formControlName]="item.prop">
            <p *ngIf="item.attr && item.attr.userGuideTxt" [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
              Test:</p>
          </div>
          <!-- Start of Primary Merge Tag Template-->
          <div
            *ngSwitchCase="item.propType=='mergeTagText' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true) && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            class="py-4 field_section" [ngClass]="item.attr?.customClass || ''">
            <label [for]="item.prop" class="form-label">{{item.propLabel }}</label>
            <div class="mb-3">
              <div class="input-group manage-tags-input-group">
                <input [id]="item.prop" class="border-start form-control manage-tags-status rounded-start" type="text"
                  [placeholder]="item.attr && item.attr.placeholder ? item.attr.placeholder:''"
                  [formControlName]="item.prop">
                <span class="input-group-text bg-white"><i aria-hidden="true" class="fa fa-copy cursor-pointer"
                    *ngIf="enableCopyButton(EditForm?.get(item.prop)?.value)"
                    (click)="copyToClipboardForPrimaryMergeStacks(EditForm?.get('mergeTagName')?.value)"></i></span>
              </div>
              <!-- Start : Error Message Template -->
              <div *ngFor="let error of getErrorMessage(EditForm?.get(item.prop))" class="text-danger mt-1 font-sm">
                <i class="fa fa-exclamation-circle me-1"></i> {{ error }}
              </div>
              <!-- End : Error Message Template -->
            </div>
            <p *ngIf="item.attr && item.attr.userGuideTxt" [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
              Test:</p>
          </div>
          <!-- End of Primary Merge Tag Template-->
          <!-- Start of Copy Text Template for Merge Tags-->
          <div
            *ngSwitchCase="item.propType=='copyText' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true) && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            class="py-1" [ngClass]="item.attr?.customClass || ''">
            <!-- class="py-4 field_section" -->
            <!-- <label [for]="item.prop" class="form-label">{{item.propLabel }}</label> -->
            <div class="input-group manage-tags-input-group mb-3">
              <input [id]="item.prop" class="border-start form-control manage-tags-status rounded-start disabled-inputs"
                type="text" [readOnly]="true"
                [placeholder]="item.attr && item.attr.placeholder ? item.attr.placeholder:''"
                [formControlName]="item.prop">
              <span class="input-group-text bg-white"><i aria-hidden="true" class="fa fa-copy cursor-pointer"
                  *ngIf="enableCopyButton(EditForm?.get('mergeTagName')?.value)"
                  (click)="copyToClipboardForPrimaryMergeStacks(EditForm?.get(item.prop)?.value)"></i></span>
            </div>
            <p *ngIf="item.attr && item.attr.userGuideTxt" [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
              Test:</p>
          </div>
          <!-- End of Copy Text Template for Merge Tags-->
          <div
            *ngSwitchCase="item.propType=='miniText' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true) && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            class="d-flex flex-wrap align-items-center py-4 field_section">
            <label [for]="item.prop" class="form-label w-75 pe-2 mb-0">{{item.propLabel }}</label>
            <input [id]="item.prop" class="form-control rounded w-25" type="text" [formControlName]="item.prop">
            <p *ngIf="item.attr && item.attr.userGuideTxt" [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
            </p>
          </div>
          <div
            *ngSwitchCase="item.propType=='miniNumText' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true) && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            class="d-flex justify-content-between py-4 flex-wrap field_section">
            <div class="w-75 pe-3">
              <label [for]="item.prop" class="form-label mb-0 m-2">{{item.propLabel }}</label>
            </div>
            <div class="w-25">
              <input [id]="item.prop" class="form-control rounded" type="number" [max]="2000"
                (keypress)="numberOnly($event)" (touchend)="numberOnly($event)" [formControlName]="item.prop">
            </div>
            <p *ngIf="item.attr && item.attr.userGuideTxt" [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
            </p>
          </div>
          <div
            *ngSwitchCase="item.propType=='textarea' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true) && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            class="py-4 field_section">
            <label [for]="item.prop" class="form-label">{{item.propLabel }}</label>
            <textarea [id]="item.prop" class="form-control rounded" cols="30" rows="4"
              [formControlName]="item.prop"></textarea>
            <p *ngIf="item.attr && item.attr.userGuideTxt" [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
            </p>
          </div>
          <div
            *ngSwitchCase="item.propType=='select' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true) && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true) && (item.attr && item.attr.listArr && item.attr.listArr.length>0)"
            class="py-4 field_section">
            <label [for]="item.prop" class="form-label">{{item.propLabel }}</label>
            <select class="form-select rounded" [id]="item.prop" [formControlName]="item.prop">
              <option value="null">-- select --</option>
              <option value="{{val.id}}" *ngFor="let val of item.attr.listArr">{{val.value}}</option>
            </select>
            <p *ngIf="item.attr && item.attr.userGuideTxt" [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
            </p>
          </div>
          <div
            *ngSwitchCase="item.propType=='rx-select' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true) && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            class="py-4 field_section" [ngClass]="item.attr?.customClass || ''">
            <div *ngIf="(item.attr && item.attr.listArr && item.attr.listArr.length>0)">
              <label [for]="item.prop" class="form-label">{{item.propLabel}}</label>
              <rx-select mainClass="form-control" selectPlaceholder="Select Item..." [enableFreeText]="false" [text]=""
                [textObject]="textObject" [formControlName]="item.prop" [(source)]="item.attr.listArr"
                (changed)="onRxSelectChange($event, item.prop)" [keyValueProps]="['value','id']">
              </rx-select>
            </div>
            <ng-container *ngIf="item.attr && item.attr.userGuideTxt">
              <p *ngIf="item.attr.listArr.length > 0" [innerHtml]="item.attr.userGuideTxt"
                class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
              </p>
              <p *ngIf="item.attr.listArr.length === 0"
                class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
                Invalid data found. For assistance with the mapping, please reach out to our support team at <a
                  href="mailto:support@onboarded.com.au">support&#64;onboarded.com.au</a>.
              </p>
            </ng-container>
          </div>
          <div
            *ngSwitchCase="item.propType=='dependentSelectionPair' && isActiveTab==(item.propTab ? item.propTab:0) && (item.attr && item.attr.dataObject && item.attr.dataObject != {} && (item.attr.dependentOn ? getDependent(item.prop) : true))  "
            class="py-4 field_section">
            <label *ngIf="item.propLabel" [for]="item.prop" class="form-label">{{item.propLabel }}</label>
            <p class="w-100 mb-3 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
              {{ !item.attr.userGuideTxt && 'Apply these settings to introduce conditional logic to your form.
              Conditional logic allows you to change what the user sees depending on the field they select.'}}</p>
            <div>
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label">Show When</label>
                <button *ngIf="field.dependentFormFieldColumns.length > 0" class="btn btn-sm border-0 fs-5 text-danger"
                  (click)="setDepencyStatus(item.prop, EditForm.value[item.prop])">
                  <span class="fa fa-trash"></span>
                </button>
              </div>
              <div class=" {{ !EditForm.value[item.prop]['dependencyStatus'] ? 'cursor-not-allowed' : ''}}">
                <select
                  class="form-select rounded {{ !EditForm.value[item.prop]['dependencyStatus'] ? 'section-disable' : ''}}"
                  [id]="item.prop + 'refFormFieldId'"
                  (change)="dependentSelectionPairValueChange($event.target.value, item.prop, 'refFormFieldId', 'refValue')">
                  <option [value]="null" selected>-- Question --</option>
                  <option value="{{val.formFieldId}}" class="d-inline-block text-truncate" [title]="val.labelName"
                    *ngFor="let val of item.attr.dataObject.refFormFieldId"
                    [selected]="EditForm.value[item.prop]['refFormFieldId'] == val.formFieldId">{{ val.labelName &&
                    val.labelName.length > 60 ? val.labelName.substring(0, 60) + '...' : val.labelName}}</option>
                </select>
                <p class="form-label my-2 fw-semibold text-start {{ !EditForm.value[item.prop]['dependencyStatus'] ? 'section-disable' : ''}}"
                  style="cursor: default;">Equals to</p>
                <select
                  class="form-select rounded {{ !EditForm.value[item.prop]['dependencyStatus'] ? 'section-disable' : ''}}"
                  [id]="item.prop + 'refValue'"
                  (change)="dependentSelectionPairValueChange($event.target.value, item.prop, 'refValue')">
                  <option [value]="null" selected>-- Answer --</option>
                  <ng-container *ngIf="item.attr.dataObject.refValue.length  > 0">
                    <option [value]="val.id" *ngFor="let val of item.attr.dataObject.refValue"
                      [selected]="EditForm.value[item.prop]['refValue'] == val.id">{{val.value}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
          <div
            *ngSwitchCase="item.propType=='checkbox' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true)  && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            class="py-4  field_section">
            <div class="form-check form-control-lg rounded-0 py-0 align-items-center">
              <input class="form-check-input" type="checkbox" [id]="item.prop" [formControlName]="item.prop">
              <label class="form-check-label" [for]="item.prop">{{item.propLabel }}</label>
            </div>
            <p *ngIf="item.attr && item.attr.userGuideTxt" [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
            </p>
          </div>
          <div
            *ngSwitchCase="item.propType=='switch' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true) && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            class="py-4 pe-0 field_section form-check rounded-0 form-switch form-check-reverse form-control-lg  text-start"
            [ngClass]="item.attr?.customClass || ''">
            <input class="form-check-input me-0" type="checkbox" role="switch" [id]="item.prop"
              [formControlName]="item.prop">
            <label class="form-check-label w-75" [for]="item.prop">{{item.propLabel}}</label>
            <p *ngIf="item.attr && item.attr.userGuideTxt" [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
            </p>
          </div>
          <div
            *ngSwitchCase="item.propType=='range' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true)  && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            class="field_section d-flex justify-content-between py-4 flex-wrap">
            <label [for]="item.prop" class="form-label w-100">{{item.propLabel }}</label>
            <div class="w-75 pe-3">
              <input [id]="item.prop" type="range" class="form-range mt-2" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-title="Tooltip on top" min="4" max="8" step="1"
                [formControlName]="item.prop">
            </div>
            <div class="w-25">
              <input class="form-control rounded bg-opacity-10" style="background-color: #eeeeee85;"
                [id]="'rangeTxt_'+item.prop" maxlength="2" type="text" [value]="EditForm.value[item.prop]" readonly />
            </div>
            <p *ngIf="item.attr && item.attr.userGuideTxt" [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
            </p>
          </div>
          <div
            *ngSwitchCase="item.propType=='maxColumnRange' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true)  && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            class="field_section d-flex justify-content-between py-4 flex-wrap"
            [ngClass]="item.attr?.customClass || ''">
            <label [for]="item.prop" class="form-label w-100">{{item.propLabel }}</label>
            <div class="w-75 pe-3">
              <input [id]="item.prop" type="range" class="form-range mt-2" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-title="Tooltip on top" min="1" max="3" step="1"
                [formControlName]="item.prop">
            </div>
            <div class="w-25">
              <input class="form-control rounded bg-opacity-10" style="background-color: #eeeeee85;"
                [id]="'rangeTxt_'+item.prop" maxlength="2" type="text" [value]="EditForm.value[item.prop] == 1
                          ? 'Large (1X1)'
                          : EditForm.value[item.prop] == 2
                          ? 'Medium(2X2)'
                          : EditForm.value[item.prop] == 3
                          ? 'Small (3X3)'
                        : 'Extra Small'" readonly />
            </div>
            <p *ngIf="item.attr && item.attr.userGuideTxt" [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
            </p>
          </div>
          <div
            *ngSwitchCase="item.propType=='columnIndexRange' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true)  && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            [ngClass]="item.attr?.customClass || ''"
            class="field_section d-flex justify-content-between py-4 flex-wrap">
            <label [for]="item.prop" class="form-label w-100">{{item.propLabel}}</label>
            <div class="w-75 pe-3">
              <input [id]="item.prop" type="range" class="form-range mt-2" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-title="Tooltip on top" min="1" max="3" step="1"
                [formControlName]="item.prop">
            </div>
            <div class="w-25">
              <input class="form-control rounded bg-opacity-10" style="background-color: #eeeeee85;"
                [id]="'rangeTxt_'+item.prop" maxlength="2" type="text" [value]="EditForm.value[item.prop]" readonly />
            </div>
            <p *ngIf="item.attr && item.attr.userGuideTxt" [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
            </p>
          </div>
          <!-- <div
            *ngSwitchCase="item.propType=='radioBtnPair' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true)  && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            class="field_section d-flex flex-wrap py-4">
            <div class="me-3">
              <input type="radio" class="btn-check" [value]="item.attr.listArr[0].id" [id]="item.attr.listArr[0].id"
                [formControlName]="item.prop">
              <label class="btn btn-outline-primary rounded-pill px-5"
                [for]="item.attr.listArr[0].id">{{item.attr.listArr[0].value}}</label>
            </div>
            <div>
              <input type="radio" class="btn-check" [value]="item.attr.listArr[1].id" [id]="item.attr.listArr[1].id"
                [formControlName]="item.prop">
              <label class="btn btn-outline-secondary rounded-pill px-5"
                [for]="item.attr.listArr[1].id">{{item.attr.listArr[1].value}}</label>
            </div>
            <p *ngIf="item.attr && item.attr.userGuideTxt" [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
            </p>
          </div> -->
          <div
            *ngSwitchCase="item.propType=='radioBtnPair' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true)  && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            class="field_section d-flex flex-wrap py-4 new-radio-check-block">
            <div class="new-radio-check-block-inner">
              <input type="radio" class="btn-check" [value]="item.attr.listArr[0].id" [id]="item.attr.listArr[0].id"
                [formControlName]="item.prop">
              <label class="btn btn-outline-primary rounded-pill px-5 w-100"
                [for]="item.attr.listArr[0].id">{{item.attr.listArr[0].value}}</label>
            </div>
            <div class="new-radio-check-block-inner">
              <input type="radio" class="btn-check" [value]="item.attr.listArr[1].id" [id]="item.attr.listArr[1].id"
                [formControlName]="item.prop">
              <label class="btn btn-outline-secondary rounded-pill px-5 w-100"
                [for]="item.attr.listArr[1].id">{{item.attr.listArr[1].value}}</label>
            </div>
            <p *ngIf="item.attr && item.attr.userGuideTxt" [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
            </p>
          </div>
          <div
            *ngSwitchCase="item.propType=='radioGrp' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true) && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            class="field_section d-flex py-4 flex-wrap">
            <label [for]="'rdbGrp_'+item.prop" class="form-label w-100">{{item.propLabel }}</label>
            <div class="row w-100" *ngIf="item.attr.listArr.length>0">
              <div class="col-6" *ngFor="let lkp of item.attr.listArr;let isOdd = odd">
                <div class="form-check">
                  <input class="form-check-input" type="radio" [value]="lkp.id" [id]="lkp.id"
                    [formControlName]="item.prop">
                  <label class="form-check-label" [for]="lkp.id">{{lkp.value}}</label>
                </div>
              </div>
            </div>
            <p *ngIf="item.attr && item.attr.userGuideTxt" [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mt-2 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
            </p>
          </div>
          <div
            *ngSwitchCase="item.propType=='optionBox' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true) && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            class="py-4 field_section">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <label [for]="item.prop" class="form-label">{{item.propLabel }} |
                {{EditForm.get(item.prop).length}}</label>
              <div>
                <ng-container *ngIf="!isFieldMapped">
                  <span class="badge bg-secondary font-sm pointer-class lh-1 mb-1" (click)="addNewOption(item.prop)">Add
                    <i class="fa fa-plus ms-1" aria-hidden="true"></i></span>
                </ng-container>
                <ng-container *ngIf="isRegenerateAtsLookupsEnabled">
                  <span class="badge bg-secondary font-sm pointer-class lh-1 mb-1" (click)="regenarateAtsLookups()">Regenerate
                    <i class="fa fa-refresh ms-1" aria-hidden="true"></i></span>
                </ng-container>
              </div>
            </div>
            <p *ngIf="item.attr && item.attr.userGuideTxt" [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mb-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
            </p>
            <ng-container [formArrayName]="item.prop">
              <ng-container *ngFor="let con of EditForm.get(item.prop).controls; let i=index">
                <div class="d-flex" [formGroupName]="i">
                  <input class="form-control rounded mb-3" type="text" formControlName="value"
                    (input)="dropdownInputChanges()">
                  <!-- <button type="button" (click)="EditForm.get(item.prop).removeAt(i)" class="btn-close ms-2 mt-1" -->
                  <button type="button" (click)="removeFormArrayElement(item.prop,i)" class="btn-close ms-2 mt-1"
                    aria-label="Close"></button>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <!-- Start:: New Block for MergeTag Component -->
          <div
            *ngSwitchCase="item.propType=='mergeTagbox' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true) && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            class="py-4 field_section">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <label [for]="item.prop" class="form-label">{{item.propLabel }} |
                {{EditForm.get(item.prop).length}}</label>
              <!-- <button type="button" class="btn btn-primary btn-sm" aria-label="Close" (click)="toggleMergeTagEditStatus()">{{ isEditEnabledForMergeTags ? 'Save' : 'Edit'}}</button> -->
            </div>
            <p *ngIf="item.attr && item.attr.userGuideTxt" [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mb-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
            </p>
            <ng-container [formArrayName]="item.prop">
              <ng-container *ngFor="let con of EditForm.get(item.prop).controls; let i=index">
                <div class="mb-3">
                  <div class="input-group manage-tags-input-group rounded" [formGroupName]="i">
                    <span
                      class="input-group-text bg-white manage-tags-prefix">{{getMergeTagPrefix(EditForm.get('mergeTagName').value)}}</span>
                    <!-- <input class="form-control rounded mb-1" type="text" value="{{removeSpaces(con.get('value').value)}}" [readOnly]="true"> -->
                    <input class="form-control manage-tags-status" type="text" formControlName="mergeTagName"
                      (input)="toggleMergeTagEditStatus()">
                    <span class="input-group-text bg-white manage-tags-value">
                      {{EditForm.get('custTypeselectedButtonForMergeTag').value}}
                      <i class="fa fa-copy ms-3 cursor-pointer"
                        *ngIf="enableCopyButton(con?.get('mergeTagName')?.value)"
                        (click)="copyToClipboardForMergeStacks(getMergeTagPrefix(EditForm.get('mergeTagName').value),removeSpaces(con.get('mergeTagName').value),EditForm.get('custTypeselectedButtonForMergeTag').value)"
                        aria-hidden="true"></i>
                    </span>
                  </div>
                  <!-- Start : Error Message Template -->
                  <div class="text-danger mt-1 font-sm d-flex align-items-center gap-1"
                    *ngFor="let msg of getErrorMessage(con.get('mergeTagName'))">
                    <i class="fa fa-exclamation-circle"></i>
                    <span>{{ msg }}</span>
                  </div>
                  <!-- End : Error Message Template -->
                </div>
              </ng-container>
            </ng-container>
          </div>
          <!-- End::  New Block for MergeTag Component -->
          <div
            *ngSwitchCase="item.propType=='fileUpload' && isActiveTab==(item.propTab ? item.propTab:0) && (item?.propIsVisible ?? true) && (item.attr && item.attr.dependentOn ? getDependent(item.prop) : true)"
            class="py-4 field_section file_upload">
            <label [for]="item.prop" class="form-label">{{item.propLabel }}</label>
            <div class="px-4 py-4 rounded text-center upload_progress">
              <div class="{{isFileUploaded(item.prop)?'d-flex w-100':'d-none'}}">
                <img src="assets/img/file-new.svg" alt="upload-file" class="prev_img me-2">
                <div class="text-gray-400 fw-bold right_cont">
                  <div class="d-flex justify-content-between">
                    <p class="mb-0">{{ getFileName(item.prop) }}</p>
                    <div class="ms-auto">
                      <span class="btn btn-sm btn-outline-secondary border-0" (click)="downloadFile(item.prop)"><i
                          class="fa fa-download" aria-hidden="true" title="Download"></i></span>
                      <button type="button" (click)="removeFileUrl(item.prop)" class="ms-2 btn-close fw-bold"
                        aria-label="Close"></button>
                    </div>
                  </div>
                  <div>
                    <hr class="w-100 my-1 border-top-2" />
                  </div>
                  <p class="mb-0 text-start">Uploaded</p>
                </div>
              </div>
              <div class="{{isFileUploaded(item.prop)?'d-none':''}}">
                <p class="text-center">{{ item.propLabel }}</p>
                <div class="btn btn-dark m-auto position-relative">Upload document
                  <input type="file"
                    accept="{{item?.attr?.fileAccept ? item?.attr?.fileAccept:'.pdf,.doc,.docx,.xlsx'}}"
                    class="file-upld-custom" (change)="onFileChange($event,item)">
                </div>
              </div>
            </div>
            <p *ngIf="item.attr && item.attr.userGuideTxt && this.currentCat.catId!=8"
              [innerHtml]="item.attr.userGuideTxt"
              class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
            </p>
            <p *ngIf="this.currentCat.catId==8"
              class="w-100 mt-3 mb-0 bg-dark bg-opacity-10 py-2 px-3 rounded font-sm lh-base font-open-sans text-gray-400">
              To begin, download the Excel template by clicking the <a
                href='https://onboardedstorage.blob.core.windows.net/onboardedlarge-document-upload/Demo/documents/Skill.xlsx'
                target='_blank'>Download Template</a> link.
              Fill in the required information, and then upload the completed Excel file using the "Upload" button
              above. This will enable us to generate your skills, tickets, and licenses based on your
              input. Use <a class="link-style" (click)="downloadSkillData()">this</a> link to access the ATS/CRM
              mapping.
            </p>
          </div>
        </ng-container>
      </ng-container>
    </form>
    <!-- <p>{{EditForm.value | json }}</p> -->
    <!-- <p>{{intialFormValue | json }}</p> -->
  </div>
  <div class="offcanvas-footer py-3">
    <div class="d-flex justify-content-center ">
      <button class="btn btn-secondary me-2 px-lg-4 px-3" (click)="cancelChanges()">Cancel</button>
      <button class="btn btn-primary px-3 px-lg-4" [disabled]="!validateSave()" (click)="saveChanges()"> {{ isAddField ?
        'Add' : 'Update' }} </button>
    </div>
  </div>
</div>
