<div id="addApplicantModal" class="add-user-popup" role="dialog" *ngIf="showComponent">

  <div class="modal-dialog modal-user-edit-container" style="width: 100%;max-width: 700px;margin: 10% auto 0 auto;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Send Test Invite</h4>
      </div>
      <div class="model-bodymodify user-edit add-user pb-0 add-applicant-wrapper">
        <form class="form-horizontal clearfix  form-edit-wrapper justify-content-center " [formGroup]="applicantFormGroup">
            <div class="model-rightbody py-0 add-applicant-body " style="width: 100%;">
              <div class="row mt-4">
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label class="form-label">First Name</label>
                    <input type="text" placeholder="First Name" formControlName="firstName" class="form-control"
                      maxlength="50">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label class="form-label">Last Name</label>
                    <input type="text" placeholder="Last Name" formControlName="lastName" class="form-control"
                      maxlength="50">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label class="form-label">Email</label>
                    <input type="text" placeholder="Email" formControlName="email" (focusout)="onEmailchange()"
                      class="form-control" maxlength="100">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 personal-info">
                  <div class="form-group">
                    <label class="form-label">Mobile</label>
                    <!-- <input type="text" placeholder="Mobile" (keypress)="numberOnly($event)" (touchend)="numberOnly($event)" formControlName="mobile"
                      class="form-control" [maxlength]="countryCode == 'NZ'?11:10" > -->

                      <rx-mobilephone [mobileNumber]="mobileNumber" (mobileNo)="mobileNoChange($event)">
                      </rx-mobilephone>  
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label class="form-label">Office</label>
                    <div>
                      <select formControlName="officeId" class="form-control form-select"
                        style="padding: 9px 10px 10px 0px;">
                        <option value="{{null}}" selected>Select</option>
                        <option *ngFor="let office of officesLookUps"
                          value="{{office.clientOfficeId}}">
                          {{office.officeName}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </form>
      </div>
      <div class="modal-footer add-applicant">
        <button class="btn btn-secondary me-2  px-4 py-2" data-dismiss="modal" type="button" (click)="close()">
          Cancel
        </button>

        <button class="btn btn-primary  px-4 py-2 {{!applicantFormGroup.valid && applicantFormGroup.applicationFormId != 0? 'cursor-not-allowed':''}}"  type="submit"
          [disabled]="!applicantFormGroup.valid && applicantFormGroup.applicationFormId != 0" (click)="Save()">
          Send
        </button>
      </div>
    </div>
  </div>
</div>
