<div class="p-1">
  <div class="d-flex align-items-center justify-content-between py-3 px-4 bg-white border">
    <h4 class="fw-semibold h6 mb-0 text-gray-100 lh-lg">Client Information</h4>

  </div>
  <div class="bg-white  mdl-prt-content form-label-middle px-4 py-3 border border-top-0">
    <div class="health-work">
      <div class="d-flex align-items-center mb-4">
        <h5 class="pointer-class fw-semibold mb-0 text-gray-300 fs-7 d-flex align-items-center ps-0 ">
          <i class="fa fa-sort-desc me-2 fs-5 va-sup"></i><span>About</span></h5>
      </div>
      <div class="frm-part px-1">
        <div class=" form-group row">
          <div class="col-xs-12 col-sm-4">
            <div>
              <div class="col-xs-12 col-sm-4 align-self-start">
                <label class="col-form-label">Client Logo</label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div>
                  <div class="upload-document">
                    <div class="box-part-one personal-upload-pic">
                      <input type="file">
                      <p>
                        Drag & drop 
                        <br> file here, or click 
                        <br> here to upload
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label">Business Name</label>
              <div class="col-xs-12 col-sm-9">
                <input class="form-control  " maxlength="50" placeholder="Business Name" type="text" tabindex="6">
              </div>
            </div>
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label">Website</label>
              <div class="col-xs-12 col-sm-9">
                <input class="form-control  " maxlength="50" placeholder="Website" type="text" tabindex="6">
              </div>
            </div>
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label">Email Address</label>
              <div class="col-xs-12 col-sm-9">
                <input class="form-control  " maxlength="255" placeholder="Email" required="" tabindex="9" type="email">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div *ngIf="dynamicForm.applicationFormCountry == 'AU' || dynamicForm.applicationFormCountry == 'NZ'">
              <label class="col-xs-12 col-sm-3 col-form-label">ABN</label>
              <div class="col-xs-12 col-sm-9">
                <input class="form-control numbertypemofidy  " maxlength="11" minlength="11"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  pattern="[0-9]{3,4}" placeholder="ABN" required="" tabindex="14" type="text">
              </div>
            </div>
            <div *ngIf="dynamicForm.applicationFormCountry == 'UK'">
              <label class="col-xs-12 col-sm-3 col-form-label">Company Registration Number</label>
              <div class="col-xs-12 col-sm-9">
                <input class="form-control" maxlength="8"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  placeholder="Company Registration Number" required="" tabindex="14" type="text">
              </div>
            </div>
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label">Telephone</label>
              <div class="col-xs-12 col-sm-9 personal-info">
                <app-mobilephone-validator ></app-mobilephone-validator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white  mdl-prt-content form-label-middle px-4 py-3 border border-top-0">
    <div class="health-work">
      <div class="d-flex align-items-center mb-4">
        <h5 class="pointer-class fw-semibold mb-0 text-gray-300 fs-7 d-flex align-items-center ps-0 ">
          <i class="fa fa-sort-desc me-2 fs-5 va-sup"></i><span>Physical Address</span></h5>
      </div>

      <div *ngIf="dynamicForm.applicationFormCountry == 'AU' || dynamicForm.applicationFormCountry == 'NZ'" class="frm-part px-1">
        <div class=" form-group row" style="margin-bottom: 0px;">
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-5 col-form-label">Unit Number</label>
              <div class="col-xs-12 col-sm-7">
                <input class="form-control   pac-target-input" maxlength="100" ngx-google-places-autocomplete=""
                  required="" type="text" tabindex="10" placeholder="Unit Number" autocomplete="off">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Street Name</label>
              <div class="col-xs-12 col-sm-9">
                <input apptitlecase="" class="form-control  " maxlength=" 100" style="text-transform: capitalize;"
                  tabindex="11" type="text" placeholder="Street Name">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Suburb</label>
              <div class="col-xs-12 col-sm-9">
                <input apptitlecase="" class="form-control  " maxlength="60" placeholder="Suburb" required=""
                  style="text-transform: capitalize;" tabindex="12" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class=" form-group row" style="margin-bottom: 0px;">
          <div class="col-xs-12 col-sm-4">
            <div>
              <label
                class="col-xs-12 col-sm-5 col-form-label">{{dynamicForm.applicationFormCountry == 'NZ' ? 'City':'State'}}</label>
              <div class="col-xs-12 col-sm-7">
                <select *ngIf="dynamicForm.applicationFormCountry == 'AU'" class="form-select  "
                  style=" height: 44px; width: 100%;" tabindex="13">
                  <option value="null">---Select---</option>
                  <option value="1">
                    NSW</option>
                  <option value="2">
                    VIC</option>
                  <option value="3">
                    QLD</option>
                  <option value="4">
                    SA</option>
                  <option value="5">
                    WA</option>
                  <option value="6">
                    TAS</option>
                  <option value="7">
                    ACT</option>
                  <option value="8">
                    NT</option>
                </select>
                <input *ngIf="dynamicForm.applicationFormCountry == 'NZ'" apptitlecase="" class="form-control  "
                  maxlength=" 100" style="text-transform: capitalize;" tabindex="11" type="text" placeholder="City">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Postcode</label>
              <div class="col-xs-12 col-sm-9">
                <input class="form-control numbertypemofidy  " maxlength="4" minlength="3"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  pattern="[0-9]{3,4}" placeholder="Postcode" required="" tabindex="14" type="text">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Country</label>
              <div class="col-xs-12 col-sm-9">
                <input class="form-control" disabled="true" maxlength="60" placeholder="Country"
                  value="{{dynamicForm.applicationFormCountry == 'NZ' ? 'New Zealand':'Australia'}}"
                  style="background:white; cursor: not-allowed;" tabindex="14" type="text">
              </div>
            </div>
          </div>
        </div>

        <div class=" form-group row" style="margin-bottom: 0px;">
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-5 col-form-label">Is Mailing Address Different?
              </label>
              <div class="col-xs-12 col-sm-7">
                <div>
                  <div class="form-group first radio_buttons">
                    <div class="lbl">
                      <label *ngFor="let radioLabel of [{id:1,value:'Yes'},{id:0,value:'No'}]"
                        (click)="isMailingAddressDifferent = radioLabel.id == 1 ? true : false "
                        class="radio"
                        [class.radio-active]="radioLabel.id == (isMailingAddressDifferent ==  true? 1 : 0 )">
                        {{radioLabel.value}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="isMailingAddressDifferent">
          <div class=" form-group row" style="margin-bottom: 0px;">
            <div class="col-xs-12 col-sm-4">
              <div>
                <label class="col-xs-12 col-sm-5 col-form-label">Unit Number/PO Box Number</label>
                <div class="col-xs-12 col-sm-7">
                  <input class="form-control   pac-target-input" maxlength="100" ngx-google-places-autocomplete=""
                    required="" type="text" tabindex="10" placeholder="Unit Number/PO Box Number" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div>
                <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Street Name</label>
                <div class="col-xs-12 col-sm-9">
                  <input apptitlecase="" class="form-control  " maxlength=" 100" style="text-transform: capitalize;"
                    tabindex="11" type="text" placeholder="Street Name">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div>
                <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Suburb</label>
                <div class="col-xs-12 col-sm-9">
                  <input apptitlecase="" class="form-control  " maxlength="60" placeholder="Suburb" required=""
                    style="text-transform: capitalize;" tabindex="12" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class=" form-group row" style="margin-bottom: 0px;">
            <div class="col-xs-12 col-sm-4">
              <div>
                <label
                  class="col-xs-12 col-sm-5 col-form-label">{{dynamicForm.applicationFormCountry == 'NZ' ? 'City':'State'}}</label>
                <div class="col-xs-12 col-sm-7">
                  <select *ngIf="dynamicForm.applicationFormCountry == 'AU'" class="form-select  "
                    style=" height: 44px; width: 100%;" tabindex="13">
                    <option value="null">---Select---</option>
                    <option value="1">
                      NSW</option>
                    <option value="2">
                      VIC</option>
                    <option value="3">
                      QLD</option>
                    <option value="4">
                      SA</option>
                    <option value="5">
                      WA</option>
                    <option value="6">
                      TAS</option>
                    <option value="7">
                      ACT</option>
                    <option value="8">
                      NT</option>
                  </select>
                  <input *ngIf="dynamicForm.applicationFormCountry == 'NZ'" apptitlecase=""
                    class="form-control  " maxlength=" 100" style="text-transform: capitalize;" tabindex="11"
                    type="text" placeholder="City">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div>
                <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Postcode</label>
                <div class="col-xs-12 col-sm-9">
                  <input class="form-control numbertypemofidy  " maxlength="4" minlength="3"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    pattern="[0-9]{3,4}" placeholder="Postcode" required="" tabindex="14" type="text">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div>
                <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Country</label>
                <div class="col-xs-12 col-sm-9">
                  <input class="form-control" disabled="true" maxlength="60" placeholder="Country"
                    value="{{dynamicForm.applicationFormCountry == 'NZ' ? 'New Zealand':'Australia'}}"
                    style="background:white; cursor: not-allowed;" tabindex="14" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="dynamicForm.applicationFormCountry != 'AU' && dynamicForm.applicationFormCountry != 'NZ'" class="frm-part px-1">
        <div class=" form-group row" style="margin-bottom: 0px;">
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-5 col-form-label">Address Line 1</label>
              <div class="col-xs-12 col-sm-7">
                <input class="form-control   pac-target-input" maxlength="100" ngx-google-places-autocomplete=""
                  required="" type="text" tabindex="10" placeholder="Address Line 1" autocomplete="off">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Address Line 2</label>
              <div class="col-xs-12 col-sm-9">
                <input apptitlecase="" class="form-control  " maxlength=" 100" style="text-transform: capitalize;"
                  tabindex="11" type="text" placeholder="Address Line 2">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">State / Province / Region</label>
              <div class="col-xs-12 col-sm-9">
                <input apptitlecase="" class="form-control  " maxlength="60" placeholder="State / Province / Region" required=""
                  style="text-transform: capitalize;" tabindex="12" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class=" form-group row" style="margin-bottom: 0px;">
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-5 col-form-label" style="padding-right: 10px;">City / Town</label>
              <div class="col-xs-12 col-sm-7">
                <input apptitlecase="" class="form-control  " maxlength="60" placeholder="City" required=""
                  style="text-transform: capitalize;" tabindex="12" type="text">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">ZIP / Postal Code</label>
              <div class="col-xs-12 col-sm-9">
                <input class="form-control numbertypemofidy  " maxlength="4" minlength="3"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  pattern="[0-9]{3,4}" placeholder="Postcode" required="" tabindex="14" type="text">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Country</label>
              <div class="col-xs-12 col-sm-9">
                <input class="form-control" disabled="true" maxlength="60" placeholder="Country"
                  value="{{dynamicForm.applicationFormCountry == 'NZ' ? 'New Zealand': dynamicForm.applicationFormCountry == 'UK' ? 'United Kingdom' : 'Australia'}}"
                  style="background:white; cursor: not-allowed;" tabindex="14" type="text">
              </div>
            </div>
          </div>
        </div>

        <div class=" form-group row" style="margin-bottom: 0px;">
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-5 col-form-label">Is Mailing Address Different?
              </label>
              <div class="col-xs-12 col-sm-7">
                <div>
                  <div class="form-group first radio_buttons">
                    <div class="lbl">
                      <label *ngFor="let radioLabel of [{id:1,value:'Yes'},{id:0,value:'No'}]"
                        (click)="isMailingAddressDifferent = radioLabel.id == 1 ? true : false "
                        class="radio"
                        [class.radio-active]="radioLabel.id == (isMailingAddressDifferent ==  true? 1 : 0 )">
                        {{radioLabel.value}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="isMailingAddressDifferent">
          <div class=" form-group row" style="margin-bottom: 0px;">
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-5 col-form-label">Address Line 1</label>
              <div class="col-xs-12 col-sm-7">
                <input class="form-control   pac-target-input" maxlength="100" ngx-google-places-autocomplete=""
                  required="" type="text" tabindex="10" placeholder="Address Line 1" autocomplete="off">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Address Line 2</label>
              <div class="col-xs-12 col-sm-9">
                <input apptitlecase="" class="form-control  " maxlength=" 100" style="text-transform: capitalize;"
                  tabindex="11" type="text" placeholder="Address Line 2">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">State / Province / Region</label>
              <div class="col-xs-12 col-sm-9">
                <input apptitlecase="" class="form-control  " maxlength="60" placeholder="State / Province / Region" required=""
                  style="text-transform: capitalize;" tabindex="12" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class=" form-group row" style="margin-bottom: 0px;">
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-5 col-form-label" style="padding-right: 10px;">City / Town</label>
              <div class="col-xs-12 col-sm-7">
                <input apptitlecase="" class="form-control  " maxlength="60" placeholder="City" required=""
                  style="text-transform: capitalize;" tabindex="12" type="text">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">ZIP / Postal Code</label>
              <div class="col-xs-12 col-sm-9">
                <input class="form-control numbertypemofidy  " maxlength="4" minlength="3"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  pattern="[0-9]{3,4}" placeholder="Postcode" required="" tabindex="14" type="text">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label" style="padding-right: 10px;">Country</label>
              <div class="col-xs-12 col-sm-9">
                <input class="form-control" disabled="true" maxlength="60" placeholder="Country"
                  value="{{dynamicForm.applicationFormCountry == 'NZ' ? 'New Zealand': dynamicForm.applicationFormCountry == 'UK' ? 'United Kingdom' : 'Australia'}}"
                  style="background:white; cursor: not-allowed;" tabindex="14" type="text">
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>

    </div>
  </div>
</div>
