<div class="form-subsection mb-4">  
  <div class="px-1">
    <div *ngIf="subSection.formFields && subSection.formFields.length > 0">
      <div class="row mb-4" *ngFor="let row of getFieldRows(); trackBy: trackByRow">
        <div *ngFor="let field of row.fields" [class]="getFieldColumnClass(field, row.fields.length)">
          <app-form-field [formField]="field" [maxColumn]="getMaxColumn()"></app-form-field>
        </div>
      </div>
    </div>
    <div *ngIf="!subSection.formFields || subSection.formFields.length === 0" class="col-12">
      <div class="text-muted">
        <em>No fields found in this subsection.</em>
      </div>
    </div>
  </div>
</div>
