<div class="p-1">
  <div class="d-flex align-items-center justify-content-between py-3 px-4 bg-white border">
    <h4 class="fw-semibold h6 mb-0 text-gray-100 lh-lg">Referee Information</h4>

  </div>
  <ng-container *ngIf="referenceType == referenceTypeEnum.employment">
    <div class="d-flex align-items-center justify-content-between py-3 px-4 bg-white border">
      <img src="assets/img/ScreenShots/EmploymentRefereeInfo.png" alt="RefereeInfo" class="img-fluid m-0"  >
    </div>
  </ng-container>
  <ng-container *ngIf="referenceType == referenceTypeEnum.academic">
    <div class="d-flex align-items-center justify-content-between py-3 px-4 bg-white border">
      <img src="assets/img/ScreenShots/AcademicReferenceInfo.png" alt="RefereeInfo" class="img-fluid m-0"  >
    </div>
  </ng-container>
  <ng-container *ngIf="referenceType == referenceTypeEnum.personal">
    <div class="d-flex align-items-center justify-content-between py-3 px-4 bg-white border">
      <img src="assets/img/ScreenShots/PersonalReferenceInfo.png" alt="RefereeInfo" class="img-fluid m-0"  >
    </div>
  </ng-container>
  <!-- <div class="bg-white  mdl-prt-content form-label-middle px-4 py-3 border border-top-0">
    <div class="health-work">
      <div class="d-flex align-items-center mb-4">
        <h5 class="pointer-class fw-semibold mb-0 text-gray-300 fs-7 d-flex align-items-center ps-0 ">
          <i class="fa fa-sort-desc me-2 fs-5 va-sup"></i><span>Consent</span></h5>
      </div>
      <div class="frm-part px-1">
        <div class=" form-group row">
          <div class="col-xs-12 col-sm-12">
            <div>
              <label class="col-xs-12 col-sm-12 col-form-label">Thank you for taking the time to complete this reference for #Candidate Name#.</label>
            </div>
            <div>
              <label class="col-xs-12 col-sm-12 col-form-label">Please read and sign the consent statement below, then continue through to confirm or update your details entered by the candidate.</label>
            </div>
            <div>
              <label class="col-xs-12 col-sm-12 col-form-label">Onboarded collects and securely stores your answers in accordance with the Privacy Act. The use of your data and your rights are outlined in our <a href="https://onboarded.com.au/privacy-policy" target="_blank"> Privacy Policy.</a></label>
            </div>
            <div>
              <label class="col-xs-12 col-sm-12 col-form-label">The answers you provide will be shared with the recruiter and their client and can be accessed by the candidate.</label>
            </div>
            <div class="mb-5">
              <label class="col-xs-12 col-sm-12 col-form-label">By typing your name in the signature box below, you consent to Onboarded using your data for the purpose of creating a reference report.</label>
            </div>
            <div>
              <img src="../../../../../assets/img/Test-Signature.jpg" width="524" height="400" alt="Signature Image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="bg-white  mdl-prt-content form-label-middle px-4 py-3 border border-top-0">
    <div class="health-work">
      <div class="d-flex align-items-center mb-4">
        <h5 class="pointer-class fw-semibold mb-0 text-gray-300 fs-7 d-flex align-items-center ps-0 ">
          <i class="fa fa-sort-desc me-2 fs-5 va-sup"></i><span>Referee Information</span></h5>
      </div>
      <div class="frm-part px-1">
        <div class=" form-group row">
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label">Referee First Name</label>
              <div class="col-xs-12 col-sm-9">
                <input apptitlecase="" class="form-control" placeholder="Referee First Name"
                  required="" style="text-transform: capitalize;" tabindex="2" type="text" pattern="^[^0-9]*$">
              </div>
            </div>
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label">Referee Phone Number</label>
              <div class="col-xs-12 col-sm-9 personal-info ">
                <app-mobilephone-validator ></app-mobilephone-validator>
              </div>
            </div>
            <div>
              <label class="col-xs-12 col-sm-3 form-label">Start Date</label>
              <div class="col-xs-12 col-sm-9 date-width">
                <div class="input-group mb-3 position-relative">
                  <input type="text" class="form-control"  id="dob" placeholder="DD/MM/YYYY" >
                  <input type="date" class="form-control w-px-4" name="piDOB"  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label">Referee Last Name</label>
              <div class="col-xs-12 col-sm-9">
                <input apptitlecase="" class="form-control" placeholder="Referee Last Name"
                  required="" style="text-transform: capitalize;" tabindex="2" type="text" pattern="^[^0-9]*$">
              </div>
            </div>
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label">Company</label>
              <div class="col-xs-12 col-sm-9">
                <input apptitlecase="" class="form-control  " maxlength="50" placeholder="Company"
                  required="" style="text-transform: capitalize;" tabindex="2" type="text" pattern="^[^0-9]*$">
              </div>
            </div>
            <div>
              <label class="col-xs-12 col-sm-3 form-label">End Date</label>
              <div class="col-xs-12 col-sm-9 date-width">
                <div class="input-group mb-3 position-relative">
                  <input type="text" class="form-control"  id="dob" placeholder="DD/MM/YYYY" >
                  <input type="date" class="form-control w-px-4" name="piDOB"  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label">Referee Email Address</label>
              <div class="col-xs-12 col-sm-9">
                <input apptitlecase="" class="form-control" placeholder="Referee Email Address"
                  required="" style="text-transform: capitalize;" tabindex="2" type="text">
              </div>
            </div>
            <div>
              <label class="col-xs-12 col-sm-3 col-form-label">Working Relation</label>
              <div class="col-xs-12 col-sm-9">
                <input apptitlecase="" class="form-control  " maxlength="50" placeholder="Working Relation"
                  required="" style="text-transform: capitalize;" tabindex="2" type="text" pattern="^[^0-9]*$">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
